[2016-12-09 12:54] captn3m0 opened #5 "order.payments is not available"
Route: `/orders/:id/payments`

Not accessible right now

[2016-12-09 19:44] #5 closed

[2016-12-22 13:49] niharsawant opened #7 "Unable to capture payment"
I am using version 1.2.0 and trying to make payment using `instance.payments.capture`, however it throws following error -
[code]
If I check on the dashboard then under payments tab, I can see the payment getting authorised and using the same `payment_id` and `amount` (in paise) if I make the request, it still throws the same error. I have reset the API Key and Secret too before sending a fresh re

[2016-12-22 13:51] selvagsz commented on #7
@niharsawant Can you please provide the code snippet & the node version ?

[2016-12-22 13:55] niharsawant commented on #7
Node Version - 6.6.0

[code]

[2016-12-22 14:55] selvagsz commented on #7
@niharsawant Couldn't able to reproduce the issue (https://runkit.com/selvagsz/razorpay-node-example-js).  Can you please try to run this example https://github.com/razorpay/razorpay-node/blob/master/examples/index.js#L33-L37

[2017-03-21 08:49] #7 closed

[2017-03-21 08:49] akshaybhalotia commented on #7
Closing since this is inactive for so long

[2017-04-01 08:40] vikramCheethirala opened #10 "unable to capture payments made with test mode."
1. I have made a test payment through browser.
2. i could see that payment reflecting in dashboard.
3. on nodejs server i have the following code to capture the payment made.
`'use strict'

const Razorpay = require('razorpay')

let rzp = new Razorpay({
    key_id: 'my key',
    key_secret: 'my secret'
});

module.exports = function (app) {

    app.route('/capturepayment')
    //.all(app.authentic

[2017-04-01 12:30] vikramCheethirala commented on #7
@niharsawant , I got into same problem. Were you able to fix the problem? if yes, how?
thanks

[2017-04-01 13:20] niharsawant commented on #7
@vikramCheethirala no, it didn't work. @selvagsz and I tried debugging it but couldn't reproduce it on his machine. Hence, I ended up using API endpoints instead of this module.

cc @akshaybhalotia

[2017-04-01 13:56] vikramCheethirala commented on #7
@niharsawant  Thanks for a quick reply. i tried using API end points.but i haven't managed to send key:secret as part of /payments url or headers. can you please let me know how you managed?

[2017-04-01 18:02] niharsawant commented on #7
I simply used [requests module](https://github.com/request/request) and followed [Razorpay documentation](https://docs.razorpay.com/docs/payments). It worked in my case.

[2017-04-11 18:55] selvagsz commented on #10
@vikramCheethirala Pardon for the delayed response here. Are you still facing the same issue ? I tried reproducing it runkit but everything seems to works perfect even with older versions of node
https://runkit.com/selvagsz/58ed263ab62adb0014f188fd

[2017-04-12 01:52] vikramCheethirala commented on #10
@selvagsz , Thanks for the response. I am now directly calling  API end points. it works now.

[2017-04-12 01:52] #10 closed

[2017-04-13 12:34] selvagsz commented on #7
This issue is worrying a bit. @niharsawant @vikramCheethirala Let me know if anyone have some spare time so that I'll try to debug the issue on your machine via remote session

[2017-08-24 05:41] mark922 opened #14 "Order Creation failure"
razorpayInstance.orders.create(data,(error, response) => {
        if (error) {
          // handle error
          res.json({"success":false,"response":null});
          console.log(error);
        }else{
          // handle success
          res.json({"success":true,"response":response});
          console.log(response);
        }
 });

This function is always going into timeout. It doesn't retu

[2017-09-12 04:45] prem911 commented on #14
I had seen this problem when the receipt is not sent or sent null or undefined. We have to send these attributes in minimum.
            razorpayInstance.orders.create({
                amount: amount,
                currency: currency,
                receipt: receipt,
                payment_capture: payment_capture
            }).then((rp_response) => {

[2017-10-09 06:50] #14 closed

[2017-10-24 11:10] captn3m0 opened #18 "[deploy] Setup an automated release process"
`v1.5.0` was published without the dist directory, which was broken. While we pushed a `v1.5.1` release to fix this, we need a proper release process.

See https://docs.travis-ci.com/user/deployment/npm/ for how this can be easily achieved.

[2017-10-24 11:24] rzpamidi opened #19 "Broken Promises Flow"
Different behaviour has been noted with the promise returned, when a callback is passed to the api function.

eg.
[code]

[2017-11-10 06:00] selvagsz commented on #19
IMO,  a promise shouldn't be returned when a callback is passed

[2017-12-14 17:12] harman28 opened #26 "[virtual acc] Fetch all function doesn't take input params"
`all` function of every entity should accept generic input and pass it on to API. Currently it is not possible to query VA by customer_id, even though the api supports this.

[2017-12-15 06:12] #26 closed

[2018-01-05 09:23] rzpamidi opened #29 "Validate Webhook Signature"
Right now we do not have any function to validate webhook signature - doc https://razorpay.com/docs/webhooks/integrations/#validation , this need to be implemented

[2018-01-22 13:53] dpz3579 commented on #29
hi,
I've used this for verifying transaction in webhook.

you can use this if this help.

[code]

[2018-02-09 12:00] abhijitdhobale commented on #29
Hello,
As per latest node rawBody is deprecated. Also to update HMAC need string so if message is not string then need to stringify the object. The updated code is as below.

[code]

[2018-02-10 06:29] 7ranveer commented on #19
The callback function does not return a promise so it will never be resolved in .then() function.
I think  below code might work
`instance.payments.all({}, function () {
  console.log(arguments); // arguments are printed
return new Promise(
(resolve,reject)=>{
if(arguments){
resolve(arguments)
}else{
reject("no arguments")
}
)
}).then((arg) => console.log(arg)) // arg value is undefined
  .catch(a

[2018-02-20 09:35] rzpamidi commented on #29
Hi @dpz3579  , @abhijitdhobale
You can use `Razorpay.validateWebhookSignature(body, signature, secret)` from now on.

[2018-02-27 09:12] iamsayantan opened #34 "Account onboarding via api"
On the docs [https://razorpay.com/docs/route/onboarding/](url) i see it is possible to onboard sellers via api.

   You can onboard these sellers on the Razorpay Dashboard or via our API.

But I don't find anything in the library or api docs about that api.

[2018-03-05 07:36] rzpamidi commented on #34
Hi @iamsayantan  , Sorry for the delayed reply!
Please send a mail to `prashanth[dot]pamidi[At]razorpay[dot]com and integrations[at]razropay[dot]com` we will get back to you at the earliest.

[2018-03-05 07:36] #34 closed

[2018-03-05 23:21] rzpamidi opened #36 "Warnings during npm install"
[code]

[2018-03-07 12:47] michaelspeed opened #37 "Implementation with react JS"
Any Documentation how to attain this with react JS an react SSR?

[2018-03-20 04:46] noisyox commented on #7
Hi,

**Note: Kindly read the document carefully.**

Amount:  The amount to be captured (should be equal to the authorized amount, in **paise**)

To authenticate Rs51.00, input amount as 5100 paise.

[2018-03-20 08:49] salman18693 opened #38 "create plan and subscription not creat by api"
var instance = new razorpay({
    key_id: 'XXXXXXXXXXXXXXXX',
    key_secret: 'XXXXXXXXXXXXXX'
  })
let params={
    "period": "weekly",
    "interval": 1,
    "item": {
      "name": "Test Weekly 1 plan",
      "description": "Description for the weekly 1 plan",
      "amount": 600,
      "currency": "INR"
    }
  }

 instance.plans.create(params).then((res)=>{
  // handle res
   }).catch((err)=>

[2018-03-20 11:11] molagbal01 opened #39 "Webhook proper example is missing"
Have completed the webhook setup on the razorpay dashboard, then tried to catch the req object on my method, it shows nothing.

[code]

[2018-03-20 14:23] rzpamidi commented on #38
@salman18693 ,
There is nothing wrong with the API, But this can happen if you didn't opt for "Subscriptions" in our dashboard.
To enable subscriptions, please go to "Dashboard > Subscriptions" and click on "Get Started" button and try again.

[2018-03-20 14:23] #38 closed

[2018-03-20 14:29] captn3m0 commented on #39
You need to read the raw request body, or implement a request body parser that parses JSON. How you do that depends on the framework you are using.

[2018-03-20 14:29] #39 closed

[2018-03-20 14:31] captn3m0 commented on #7
@noisyox If you're facing an issue with our API, send us an email to `integrations@razorpay.com`. Please open a new issue on GitHub if the issue is with the NPM package only.

[2018-03-27 11:36] rzpamidi commented on #39
@molagbal01  ,
Please check the updated doc here, https://github.com/razorpay/razorpay-node/wiki#webhooks

[2018-04-12 07:55] rzpamidi opened #40 "Handle when user is offline"
When use is offline , promises are rejected with `{ statusCode: undefined, error: undefined }` need to put appropriate message in there

[2018-04-23 07:07] dheerajbhaskar opened #42 "Payment capture not working on node but working on direct api call"
## Environment
node -v
v8.11.1

package.json
[code]

## Code
This is the code I'm using

[code]

This returns

[code]

However, it works when I directly call your capture api endpoint from postman.

I didn't get any other logs to add. Please ask me for further information if you need it

[2018-04-24 02:37] dheerajbhaskar commented on #42
Closing this. It was a bug on our side where we were passing an object instead of a string for razorpay_payment_id

[2018-04-24 02:37] #42 closed

[2018-05-03 04:38] rzpamidi commented on #19
@selvagsz  , we support both error-first call back and promises right ? , let the behaviour be consistent that
1) If you pass a callback , it would get err , data as arguments
2) If you use Promise Chain , in case of error the promise is rejected else the promise is resolved.

The above points mentioned work well independently.
Let 'em work well together also. Resolving with different arguments wh

[2018-05-03 10:43] selvagsz commented on #19
[Question] Why would people do both ? Should we encourage that pattern of using both ?

imo, don't think that's good pattern; callbacks exists for legacy node code. Maybe we can check some other node api wrappers

[2018-05-07 06:09] rzpamidi commented on #19
@selvagsz  , node throws an error if we do not provide callback (eg. `fs.readFile`), which we can not enforce, also all our api's support both, i see no way than supporting both.

We can use the fix i mentioned for backwards compatibility , we can decide later to not return promise when callback is passed, and do Major version bump.

[2018-05-16 15:35] abhishekit29 commented on #29
Razorpay.validateWebhookSignature(body, signature, secret) is not working properly. There are some issues. Please fix this.

[2018-05-17 04:28] rzpamidi commented on #29
Hi @abhishekit29 , Please elaborate the issue you face with the method, also let us know the version of the package that you are using.

[2018-05-17 04:32] rzpamidi commented on #37
All our apis are HTTP based, and you would need key id and secret to use the API. Its not recommended to use them directly in browser.

[2018-05-18 09:08] abhishekit29 opened #44 "Webhook validates signature"
There are some issues in webhookValidate function. Its giving false even if the key is correct.

[2018-05-18 09:48] rzpamidi commented on #29
Hi @abhishekit29 ,
Do not do `crypto.createHmac('sha256'......`

User the following function provided by our SDK
`razorpay.validateWebhookSignature(reqBody, signature, mySecret)` where `reqBody` should be a string

Please check here for the example https://github.com/razorpay/razorpay-node/wiki#webhooks

[2018-05-18 09:48] rzpamidi commented on #44
Tracking here https://github.com/razorpay/razorpay-node/issues/29

[2018-05-18 09:48] #44 closed

[2018-05-18 11:36] abhishekit29 commented on #29
Hi @rzpamidi I am using `razorpay.validateWebhookSignature(reqBody, signature, mySecret)` but then too behavior is random. 3 out of 5 times its returning false with the same type  of transaction.

[2018-05-20 10:42] ArjunRamSada opened #45 "Having trouble capturing a payment through my firebase-cloud-function. Please help me out."
Please check out this SO thread that I've started and help me out with my problem!

https://stackoverflow.com/questions/50433922/how-to-change-razorpay-js-file-to-make-my-code-work

Thanks a lot!

[2018-05-21 05:38] #45 closed

[2018-05-30 08:15] rzpamidi commented on #29
@abhishekit29  , if the reqBody is a `string` and if you pass the same parameters, you should always get the same output.

Please check this link - https://runkit.com/rzpamidi/5b0e5c57145f2800122f7af9 , i ran 10k times , i always got the same output`true`

[2018-05-30 08:15] #29 closed

[2018-05-30 11:39] kevinsimon11 commented on #29
when the reqBody is the same one as you gave, the validator gives output true. But when i provide the sample payload provided in the docs, for example , invoice.paid returns false.

[2018-05-30 11:54] rzpamidi commented on #29
@kevinsimon11 , Please share me the code sample using runkit

[2018-05-30 12:07] rzpamidi commented on #29
@kevinsimon11  , The signature will be different for different responses
For example:
lets assume your secret key is `123456`
for response `"{a:1, b:2}"` the signature is `ee0a3edebeb4be41bafa3bc0a39069d7845a5c37760b863405049de80b5fe92d`
and for the response `{c:1, d:2}` the signature is `58fd9fac909b57d776606e9313e83a26a9e67a3488b9ca7259134e09f4badfb1`

We will be generating the signature for eve

[2018-05-30 12:09] kevinsimon11 commented on #29
[https://runkit.com/kevinsimon11/5b0e9211c3843d001263d071](url)

[2018-05-30 12:13] rzpamidi commented on #29
@kevinsimon11 , the signature you have used is wrong , check this
https://runkit.com/rzpamidi/5b0e952ec3843d001263d28e , its working fine

[2018-05-30 12:16] kevinsimon11 commented on #29
@rzpamidi ohh. ok it works now. i just used the signature given here [ https://github.com/razorpay/razorpay-node/wiki#webhooks](url)

[2018-06-14 10:42] tanishqsh opened #48 "TypeError: rzp1.open is not a function"
I am trying to integrate manual checkout. I have added checkout.js in the header of the html file. However, when I am trying to create the `Razorpay` object, it is showing undefined.
![screen shot 2018-06-14 at 4 10 23 pm](https://user-images.githubusercontent.com/15674971/41407620-8f1cb110-6fed-11e8-964b-0190002fe2ad.png)

[2018-06-17 06:10] #48 closed

[2018-06-26 12:46] captn3m0 commented on #19
@rzpamidi Can we close this?

[2018-06-27 10:42] rzpamidi commented on #19
@captn3m0 , need to implement the changes required. will close it after that

[2018-06-29 10:16] omkar1707 commented on #29
I am using below code for razorapy validation. But it is giving me false everytime.

	exports.razorpayWebhook = functions.https.onRequest((req, res) => {

	  if (req.body === undefined) {
	    res.status(400).send('No message defined!');
	  } else {
	    var signature = req.get('X-Razorpay-Signature');
	    console.log(Razorpay.validateWebhookSignature(req.body, signature, 'razorpay'));
	 	}
	});

[2018-06-29 10:39] rzpamidi commented on #29
@omkar1707  , Please make sure `req.body` is a string

[2018-06-29 10:51] omkar1707 commented on #29
@rzpamidi This is the code from razorpay library. It is internally doing toString(). Do I need to use "toString" again?

	function validateWebhookSignature(body, signature, secret) {

		/*
		Verifies webhook signature

		@param {String} summary
		@param {String} signature
		@param {String} secret

		@return {Boolean}
		*/

		var crypto = require("crypto");

		if (!isDefined(body) || !isDefined(sig

[2018-06-29 10:56] rzpamidi commented on #29
@omkar1707  , Yes , Please do.

Make sure its raw body , or an object which gives raw body when we typecast it to string.

[2018-08-08 03:24] ktkaushik opened #53 "Unable to create a subscription"
I've initiated Razorpay with my **TEST** key and secret.

Below is the code and error -

[code]

**Error**

[code]

My `plan_id` is valid and my subscriptions is enabled with Razorpay.

Absolutely unable to move forward. Can someone help? @rzpamidi ?

[2018-08-08 06:54] rzpamidi commented on #53
@ktkaushik  , which version of the package are you using ?

[2018-08-08 08:54] ktkaushik commented on #53
@rzpamidi I've `2.0.1`

[2018-08-08 09:41] rzpamidi commented on #53
@ktkaushik  , i am not able to reproduce this normally, but this happens when there i am disconnected from the internet

One thing wrong in your code is that , you need to pass epoch seconds , where as you are passing milli seconds using `Date.now()` , try `Date.now()/1000 | 0`

[2018-08-08 10:02] ktkaushik commented on #53
@rzpamidi I am not disconnected from the internet but trying this out on localhost, that shouldn't be a problem right?

Also, i tried passing epoch seconds, that didn't change anything.

Is there a more stable version that you would recommend me using which has subscriptions feature?

[2018-08-08 10:15] rzpamidi commented on #53
@ktkaushik  , Please let me know what do you see when you do `curl https://api.razorpay.com` in bash

[2018-08-08 10:43] ktkaushik commented on #53
@rzpamidi

[code]

[2018-08-08 11:13] ktkaushik commented on #53
@rzpamidi curl works fine -

[code]

[2018-08-08 11:19] ktkaushik commented on #53
This is the complete code.

[code]

[2018-08-08 12:08] rzpamidi commented on #53
@ktkaushik  Can you please put `console.log(err)` below `line 10` in your `node_modules/razorpay-node/dist/api.js` ? and let me know what you see ?

[2018-08-08 12:33] rzpamidi commented on #53
@ktkaushik  , Please let us know the node and npm version that you are using

[2018-08-08 12:36] ktkaushik commented on #53
Node version is `v9.11.1` and npm is `5.6.0`

[2018-08-08 12:43] rzpamidi commented on #53
@ktkaushik  , Please drop us a mail on integrations@razorpay.com regarding this issue , will take this from there

[2018-08-08 12:51] ktkaushik commented on #53
@rzpamidi Cool. I will do that.

[2018-08-08 12:53] ktkaushik commented on #53
Done.

[2018-08-09 15:51] rzpamidi commented on #53
Closing this issue as there seems to be an issue related to the environment in which the script is running

[2018-08-09 15:51] #53 closed

[2018-09-18 11:17] Syedayesha opened #54 "How to send currency filed in capture api?"
Hi ,
 I am using this piece of code

[code]
When I am trying to send currency field I am getting error. I changed the capture method in node-modules folder.How can I solve this error? How can I send currency field during capture?

[2018-09-19 02:06] GeorgeAnanthSoosai opened #55 "Any reason why checkout.js is throwing Unexpected token o in JSON at position 1 error ?"
checkout.js:1 SyntaxError: Unexpected token o in JSON at position 1
    at JSON.parse (<anonymous>)
    at zt (checkout.js:1)
    at pn.onmessage (checkout.js:1)

[2018-09-19 04:03] kpvsrkp opened #56 "error from checkout.js"
I am using https://checkout.razorpay.com/v1/checkout.js in my index.html of angular5 application.
It is good till yesterday and all of sudden giving below error. Though it is not breaking the payment flow but annoying with high occurence. Please check.

[SyntaxError: Unexpected token s in JSON at position 0
    at JSON.parse (<anonymous>)
    at zt (checkout.js:1)
    at pn.onmessage (checkout.js:

[2018-09-20 20:06] rakshith-ravi opened #57 "TypeScript Declaration"
Please add a index.d.ts for typescript

[2018-09-21 09:28] jinuem commented on #57
Facing same issue

[2018-09-24 00:09] GeorgeAnanthSoosai commented on #56
same for me too

[2018-10-15 05:19] MayurBhansali5130 opened #58 "Unable to scroll EMI Plans."
Unable to scroll EMI Option While click on EMI Option from PG with Pay With EMI Buttons. Please check attached below screenshot for reference.
Device is iPhone 5SE.

![image](https://user-images.githubusercontent.com/44153308/46931181-bb74c100-d067-11e8-8dde-8090c9b62afa.png)

[2018-10-17 21:55] captn3m0 commented on #58
This is the repository for our Node.js client. For support issues that are not a bug in the SDK, please send an email to support@razorpay.com.

I've forwarded this to our frontend team, who will take a look, but I'm closing the issue meanwhile.

[2018-10-17 21:55] #58 closed

[2018-10-29 12:18] rakshith-ravi commented on #57
Looks like @razorpay isn't interested in providing support for their products. Does anybody know a better alternative?

[2018-11-08 10:51] umanghome commented on #56
@kpvsrkp This was resolved in a build released some weeks ago, is this still happening for you?

[2018-11-08 10:52] umanghome commented on #54
@Syedayesha What is the exact error that you are getting?

[2018-11-08 11:36] umanghome commented on #57
@rakshith-ravi @jinuem We are working on adding support for this. In the meantime, can you follow this comment? It seems to resolve the issue: https://github.com/Microsoft/TypeScript/issues/15031#issuecomment-407131785

[2018-11-08 16:41] rzpamidi commented on #57
@rakshith-ravi @jinuem  , We have published a new version with the updated code, Please check

[2018-11-09 07:06] #57 closed

[2018-11-21 06:03] AmruthPillai opened #64 "Missing APIs"
The Fetch All Customers API and the entire Items API is missing in the node-sdk, please implement it soon as we have a requirement for the same in our application.

[2018-11-28 02:45] theZulqarnain opened #65 "The id provided does not exist razorpay in nodejs"
i'm implementing razorpay payment gateway in my React.js app with backend nodejs.

here **frontend.jsx**

    razorpayHandler = () =>{
            const payment_amount  = this.props.TotalPrice;
            const backend_url = 'https://25234399bb.ngrok.io';
            const self = this;
            const options = {
            key: config.RAZOR_PAY_KEY,
            amount: payment_amount * 100,

[2018-11-28 18:51] captn3m0 commented on #65
Test and live modes are completely separate. The test key can only fetch test payments, and live mode can only fetch live entities. Please make sure that you are using the same key in the react side as the backend side.

Please search for the entity in the Dashboard while in test or live mode for clarification.

[2018-12-02 07:51] nickborti opened #66 "Razorpay Split Payments API"
Where is the Razorpay split payments / route api for nodejs?
It's not clear how is it different from normal razorpay APIs.

[2018-12-04 10:31] rzpamidi commented on #66
@nickborti  Please check this API - https://github.com/razorpay/razorpay-node/wiki#instancepaymentstransferpayment_id-params
For additional information , please check https://razorpay.com/docs/route/api-reference/#linked-account-payment-settlements

[2018-12-04 10:31] #66 closed

[2018-12-10 09:36] labsvisual commented on #64
@captn3m0, should I start work on this?

[2018-12-10 09:39] labsvisual commented on #40
@rzpamidi, this is fixed in #67.

The cause of this error was [this line](https://github.com/razorpay/razorpay-node/blob/master/lib/api.js#L33). The `statusCode` is undefined if the network interrupt is timeout.

[2018-12-10 09:39] captn3m0 commented on #64
@rzpamidi ^ please confirm :)

[2018-12-10 09:46] labsvisual opened #68 "control flow"
## Prologue
#19 defines an existing problem where the promise chain is broken on concurrent control flow types (Promises and callbacks).

## Problem
Implementing both of them at once is a design flaw and it should be noted that Node dictates a strict choice between the two. (Look at `request` and its accompanying `request-promise` catalogue.)

## Solution
A simple callback adapter can be placed an

[2018-12-10 09:54] labsvisual opened #69 "namespacing modules"
## Prologue
The current library contains exports for all possible resources supported by the Razorpay SDK. This is a tightly-coupled architecture and it should be noted that it adds a lot of weight to the process utilizing the resource.

## Solution
The library should be namespaced based on the resources with one module being a wrapper around all of them.

For example, to use the `payments` resour

[2018-12-10 09:58] labsvisual opened #70 "resource testing"
## Prologue
The current test cases are not use cases or state-test cases but rather implementation tests; hence, it's neither the behavior we are testing nor the actual use case and this is a bad practice (you can read about implementation vs. state tests in a lovely article by Eric Elliot or Addy Osmani.)

Because of this, the tests are really bloated (at around 190 cases in total.)

##  Solution

[2018-12-10 11:11] rzpamidi commented on #64
@labsvisual .  Yes , you can work on this

[2018-12-10 13:18] AmruthPillai commented on #64
I did implement the same, on the same day. I created a PR for it as well.

https://github.com/razorpay/razorpay-node/pull/63

[2018-12-11 08:18] AmruthPillai commented on #64
Any ETA on this?

[2018-12-11 09:14] labsvisual commented on #64
Did you write the test cases?

[2018-12-11 17:08] AmruthPillai commented on #64
I don't know how to write test cases on Node.js.

[2018-12-11 17:15] labsvisual commented on #64
You still need it?

[2018-12-12 06:45] AmruthPillai commented on #64
Yes.

[2018-12-13 12:22] #64 closed

[2019-01-23 05:27] omkar1707 opened #72 "The payment status should be captured for action to be taken"
We are using checkout.js to process a payment.
After payment processing we are calling below function to transfer partial amount

[code]

But this is giving below error
[code]

Payment status is **Authorized** but not **captured**.
How to change payment status to captued through API?

[2019-01-24 11:02] captn3m0 commented on #72
This is documented: https://github.com/razorpay/razorpay-node/wiki#instancepaymentscapturepayment_id-amount

Please see the payment flow documentation to understand capture: https://docs.razorpay.com/docs/payment-flow

[2019-01-24 11:02] #72 closed

[2019-02-09 14:33] arpitagarwal35 opened #74 "Webhook validation Failure"
razorpay.validateWebhookSignature(body, signature, secret)

Working on razorpay@2.0.3 but not working on razorpay@1.7.1

https://runkit.com/arpit/5c5eda1e5448d1001534eed7 Working fine ("validator: true") maybe because its on latest version.

Same code not working ("validator: false") with 1.7.1 also not able to install latest version of razorpay which is 2.0.3.

npm install razorpay@2.0.3 returing

[2019-02-15 13:02] arpitchaudhari opened #76 "Orders creation rejection issue"
server code:
[code]
Response:
`Unhandled rejection (<{"statusCode":400,"error":{"code":"BAD...>, no stack trace)`

[2019-02-15 13:06] Mayur-Wadpalliwar commented on #76
@arpitchaudhari Razorpay accepts amount in paisa and the minimum amount is 100 paisa = Rs 1

[2019-02-15 13:06] #76 closed

[2019-02-17 06:49] mspandher opened #77 "while creating order getting error with undefined status and error"
[code]
always getting   **error - { statusCode: undefined, error: undefined }**

can any one help me ?

[2019-02-22 11:30] atulmy opened #78 "Wallet Operations"
I think this repository is missing `wallet` operations, for example:

**[Create Payment](https://razorpay.com/docs/wallet/api-reference/#create-payment)**
`POST` `/payments/create/openwallet`

[2019-02-22 11:46] atulmy commented on #78
I was able to use following work around:
[code]

However it'd be preferable to add all the missing operations like wallet into `razorpay-node` itself to abstract away the URL.

[2019-03-17 15:18] vnathalye commented on #65
I'm also getting similar issue, though my environment is different (WordPress + WooCommerce).
When I'm using test mode keys, the payment dialog appears without any error. But when I use live mode keys, I get following error:
`{"error":{"code":"BAD_REQUEST_ERROR","description":"The id provided does not exist"}}`
and the payment dialog does not appear.

This error is coming for the request `https://

[2019-03-17 19:04] umanghome commented on #65
@vnathalye Can you confirm if you are using live key while creating the order?

[2019-03-17 21:53] captn3m0 commented on #65
@vnathalye This is the Razorpay nodejs SDK repository. Please report any issues with woocommerce at https://github.com/razorpay/razorpay-woocommerce/issues/new

[2019-03-17 21:53] #65 closed

[2019-03-18 03:48] vnathalye commented on #65
@umanghome Yes. That's what I mentioned `But when I use live mode keys, I get following error:`

@captn3m0 I understand that this is RP NodeJS repo. But the error is returned from the server side, so I assume the cause and possible solution would be same in either case. I was hoping to get some insight on that.

[2019-03-18 07:48] captn3m0 commented on #65
While the error is the same, the mismatch is likely on the frontend side, which is completely different in both scenarios.

[2019-03-18 09:19] umanghome commented on #65
The mismatch definitely is on the frontend side, and it very likely has to do with one of the IDs being used in a different mode than in which they were created.

[2019-03-20 07:40] vnathalye commented on #65
@umanghome You were right. When you asked `if you are using live key while creating the order` I assumed you are talking about WooCommerce Order. I didn't realize that you are talking about RP Order object, because I'm not creating these objects through my code and they are getting created from the woo-razorpay plugin.

So for anyone else who is getting this error, here is my scenario:
I created a

[2019-04-01 05:43] hijazdegrt commented on #65
@vnathalye how did you fix it please help me!

[2019-04-01 15:37] vnathalye commented on #65
@hijazdegrt I was getting the error because the RP Order was created with Test Mode keys while I was trying to make payment with Live Mode keys. So in live mode, it was not able to find the RP Order Id.

Once I created a new Order with Live Mode keys, everything worked fine.

[2019-04-11 04:42] Saneesh opened #83 "How to get the payment ID in NodeJS for Orders API?"
Hello,
I'm trying to do the payment through the Orders API.

[code]

When I print the `fetchPayments()` it shows as follows:

`{ entity: 'collection', count: 0, items: [] }`

To proceed with payments I need to `Payment_id` but it returns the empty collection.

How do I proceed? Is there any step I'm missing?

Regards,
Saneesh.

[2019-04-11 05:11] radhika-tk commented on #83
@Saneesh :  In the first step you have created the Order. The result of this is an `order_id`.
Now, pass this `order_id` while creating the payment
 {
 "amount": 5000,
 "currency": "INR",
  "order_id": "order_7IZKKI4Pnt2kEe", .....> Enter the Order ID obtained from the first step.
  "notes": {},
}
This will result in the payment ID

[2019-04-11 05:39] Saneesh commented on #83
@radhika-tk ,
Thank you for the reply!

When I executed as you said,
[code]
it shows the following error.

`error : {"statusCode":400,"error":{"code":"BAD_REQUEST_ERROR","description":"The order id must be 20 characters.","field":"order_id"}}`

Note: result.id I got as `order_CIEbCTYPctRfHq`

Regards,
Saneesh.

[2019-04-11 05:55] radhika-tk commented on #83
Can you check if the Order_ID that you generated is of the following length:
"order_<14 char id>" , a total of 20 characters

[2019-04-11 06:09] Saneesh commented on #83
Yes, same format `order_CIEbCTYPctRfHq`

[2019-04-11 06:45] radhika-tk commented on #83
Reiterating the steps that you need to follow:
1. Create an Order, which will generate an Order ID
2. Create a Payment using the Order ID, created in step 1
3. Fetch the Payment

Hope you are following the same

[2019-04-11 07:43] Saneesh commented on #83
This is the whole code I wrote.

    let razorpay = new Razorpay({
      key_id: outConfigs.razorpay.key_id,
      key_secret: outConfigs.razorpay.key_secret,
    });

    let output: any;

    await razorpay.orders.create({
      amount: data['amount'],
      currency: data['currency'],
      receipt: data['receipt'],
      payment_capture: data['payment_capture'],
      notes: data['notes']

[2019-04-11 08:00] umanghome commented on #83
1. Create an Order
2. Pass the `order_id` in options while creating the [Checkout Form](https://docs.razorpay.com/docs/checkout-form).
3. Once the user has made a payment using the Checkout Form, you will be able to retrieve the payments associated with the Order. A single order can have multiple payments associated with it if any of them have failed.

[2019-04-24 07:24] radhika-tk commented on #83
@Saneesh : What's the update? Any progress made?

[2019-04-24 08:20] Saneesh commented on #83
@radhika-tk
Yes, it is working I have successfully done the payment. For now, only one issue which is related to `https` that can be tested after we set up the server.

[2019-04-24 11:51] umanghome commented on #83
Closing this as it seems to be resolved.

[2019-04-24 11:51] #83 closed

[2019-07-04 20:08] fdharamshi commented on #7
@y0ung-wolf I tried that. not working. I tried using API Endpoint. not working. How do i capture the payments ?

[2019-07-05 05:29] umanghome commented on #7
@fdharamshi Would it be possible to provide the errors that you're getting while trying to capture using this module as well as the API endpoint?

[2019-07-07 09:19] bansalnitin92 opened #89 "Checkout flow implemented like licious.in"
I am using razorpay checkout form in my web app. But I want the checkout flow like licious.in has implemented. As in you give them various options and take the details from them and redirect to razorpay server. I am using Nodejs.
It sounds naive. I would appreciate any suggestions

[2019-07-08 07:41] umanghome commented on #89
Can you send an email to integrations@razorpay.com regarding this, asking for a Custom UI integration?

[2019-07-08 07:41] #89 closed

[2019-07-11 11:05] abilash-diviso opened #90 "[ng] Module not found: Error: Can't resolve 'crypto' In ionic angular when creating the instance of razorpay with key and secret"

[2019-07-19 14:23] jatin510 commented on #77
same problem is occuring with me. Can someone please reply to this problem.

[2019-07-22 10:04] #56 closed

[2019-07-22 10:04] #55 closed

[2019-07-22 10:14] umanghome commented on #77
Hi. We're unable to reproduce this issue. Can you give us some more details? What are the version numbers of the SDK and Node.js that you are using? Can you try deleting `node_modules` and reinstalling all modules?

[2019-07-22 10:23] mspandher commented on #77
i was using firebase cloud functions to generate order id , one have to enable billing in firebase project to request to outbound api's.
for every api you use in firebase gives you undefined error code and status if you haven't enabled billing.
Thier is no issue in Razorpay SDk

[2019-07-23 07:14] umanghome commented on #77
We've usually seen this issue happen due to Network issues. Closing this.

[2019-07-23 07:14] #77 closed

[2019-07-23 07:46] captn3m0 commented on #90
Can you please provide a snippet where you are getting this error?

[2019-07-28 05:41] DhiralKaniya opened #94 "[Java] Integration capture payment giving an error"
I am doing razorpay java API integration with spring boot.

Below is the razorpay version which I am using.
[code]

Capture payment API is giving me an error.
Below code snippet which I am using to capture payment.
[code]
Error which I am getting
`"BAD_REQUEST_ERROR:Capture amount must be equal to the amount authorized"`

I have tried an amount as 500.
Can anyone help here?

[2019-07-28 05:49] DhiralKaniya commented on #94
Just for info:- Amount is validated.
Below is the screenshot for reference.

### **
<img width="1441" alt="Screenshot 2019-07-28 at 11 18 20 AM" src="https://user-images.githubusercontent.com/21332852/62002804-8a163f00-b129-11e9-8ff4-a5311dda90c6.png">
**

[2019-07-28 06:13] #94 closed

[2019-07-28 06:14] DhiralKaniya commented on #94
Posted on the wrong repo.

Java repo link :- https://github.com/razorpay/razorpay-java/issues/60

[2019-07-31 09:58] vivekghanchi opened #95 "Subscription Update via SDK is missing"
**In razorpay unable to find how to update a subscription using SDK**

[2019-08-03 11:24] arch1995 opened #96 "Razorpay.validateWebhookSignature() is not working for invoice.paid events."
Here is code snippet

[code]

Razorpay.validateWebhookSignature() returns true for other webhook events but for events type "invoice.type" it is returning false.

[2019-08-07 06:45] BharathKhan5 opened #97 "fetch error in javascript and nodejs , but direct url working in browser and postman"
Failed to load resource: the server responded with a status of 400 (Bad Request) localhost/:1 Access to fetch at 'https://api.razorpay.com/v1/payments/pay_D13Z7yMIvl0XXB' from origin 'http://localhost:8080' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque resp

[2019-08-12 09:52] umanghome commented on #97
Is this error from node.js, or from the browser?

[2019-08-12 10:19] BharathKhan5 commented on #97
from node.js
plz help me .

From: "Umang Galaiya" <notifications@github.com>
To: "razorpay/razorpay-node" <razorpay-node@noreply.github.com>
Cc: "bharath p" <bharath.p@krishit.com>, "Author" <author@noreply.github.com>
Sent: Monday, August 12, 2019 3:22:59 PM
Subject: Re: [razorpay/razorpay-node] fetch error in javascript and nodejs , but direct url working in browser and postman (#97)

Is this er

[2019-08-12 10:23] umanghome commented on #97
Possible to give a demo as code or a video/gif? Please hide sensitive information in the demo.

[2019-08-12 10:25] umanghome commented on #96
Just `invoice.paid`, right?

[2019-08-12 11:32] BharathKhan5 commented on #97
var request = new XMLHttpRequest()

//https://ghibliapi.herokuapp.com/films
request.open('GET', 'https://rzp_test_rTEslrmQb8a0vt:iSQN9rw2Z2dCbM70rg4e60yQ@api.razorpay.com/v1/payments/pay_D13Z7yMIvl0XXB', true)
request.onload = function() {
// Begin accessing JSON data here
var data = JSON.parse(this.response)

if (request.status >= 200 && request.status < 400) {
data.forEach(movie => {
console.log

[2019-08-13 06:21] arch1995 commented on #96
Yup, just invoice.paid events

[2019-08-14 18:58] captn3m0 commented on #96
Please don't parse the JSON. The HMAC is generated for the exact request body that we send, and a minor difference in how your JSON encoder works v/s ours will result in a different JSON string (and broken signature). This is often the case where your descriptions contain quotes or slashes.

Instead read the raw response body in your framework of choice and pass that instead as the first argument

[2019-08-14 18:59] #96 closed

[2019-08-17 14:53] navidkhn1 commented on #38
The python client for Razorpay could really use better documentation and error messages.

[2019-08-18 05:22] umanghome commented on #38
@navidkhn1 File an issue over at https://github.com/razorpay/razorpay-python?

[2019-08-20 13:55] arch1995 commented on #96
Well your answer doesn't explain why the validation doesn't work for only **invoice.paid** events and work for other webhook events.
[code]

[2019-08-20 14:03] harman28 commented on #96
The success or failure won't vary by the webhook event, but by the presence of special characters in the webhook body, since this is often what sees variance in encoding/decoding methods.

Using the raw post body should work in all cases however.

[2019-08-23 07:15] nandantal opened #101 "Will it work for razorpayX ?"
I am working with razorpayX. Can I use this library ?

[2019-08-23 07:29] StSarc commented on #101
Hey @nandantal

We don't currently support RazorpayX APIs in this SDK. We do have this in our roadmap and should have it ready sometime soon.

[2019-08-23 17:10] dakshshah96 opened #102 "Integrate with test suite"
We use Razorpay to handle all our payments at @tiltbike. In our local test suite written in Jest, I'm unable to test our mission critical payment functions due to the integration with Razorpay.

Is there any functionality similar to [stripe-mock](https://github.com/stripe/stripe-mock) which can make testing with Razorpay in our server's test suite possible?

[2019-08-24 10:54] dakshshah96 commented on #102
Solved this by creating a new `RazorpayMock` class locally and using this for testing instead of sending requests to the real Razorpay API.

[2019-08-24 10:54] #102 closed

[2019-08-30 17:01] williemccool commented on #101
So how do we use the RazorpayX APIs? Can we just send normal requests to the API endpoints?

[2019-08-30 21:19] StSarc commented on #101
Yup, normal requests (with basic authentication headers) to the API endpoints will work. Do let me know if there's anything I can help with in that regard.

[2019-09-06 07:31] nandantal opened #104 "The server encountered an error. The incident has been reported to admins."
We are not able to work with the fund_accounts/validations api endpoint. It is throwing the below error :

{
    "error": {
        "code": "SERVER_ERROR",
        "description": "The server encountered an error. The incident has been reported to admins."
    }
}

The problem is not with the bank account data and API keys. What might be the reason ?

[2019-09-06 09:27] harman28 commented on #104
Looks like a bug. Can you share some of the information you'd sent in your request? This will help us track your request in logs and find out what went wrong.

[2019-09-06 09:31] nandantal commented on #104
Sure . CITI0000005 is the ifsc code we are transferring to, account number ends with 706.

[2019-09-06 10:12] harman28 commented on #104
Checked this, it looks like your account is currently not configured to use the fund account validation APIs. Could you raise a [support ticket](https://razorpay.com/support/#request) to have this enabled for your account? Specifically the pricing plan associated with your account needs to be updated to support this account validation flow as well.

Ideally the error message should've been a lot m

[2019-09-06 10:13] nandantal commented on #104
thanks. it is resolved. account was not configured before.

[2019-09-06 10:13] #104 closed

[2019-09-09 19:10] MrSpark2591 opened #105 "Not able to verify signature of payment"
I have tried following code for verifying payment signature. But signature from payment and generated at my point are diffrent. Please let me know if i am doing something wrong here.
Additionally in docs, there's no sample code for nodejs. It will be really good if we can just find it there.
[code]

[2019-09-10 06:22] harman28 commented on #105
@MrSpark2591 Looks like you're generating the signature using `payment_id|order_id` as the plaintext string, but the [doc](https://razorpay.com/docs/payment-gateway/orders/integration/#generate-a-signature) mentions that the order is `order_id|payment_id`. Essentially, the keys are sorted before using them for signing. So just changing the order should work for you.

Ideally this package should ha

[2019-09-10 06:54] MrSpark2591 commented on #105
[code]

@harman28 Tried above code as well. No luck :(

[2019-09-17 09:56] MrSpark2591 commented on #105
Closing this issue, As I have figured out that the payment signature is generated using live mode secret key even though you are in test mode and the order was generated in test mode.

So if you want to check the Payment signature always use **Live mode secret key**.
Above code will work if you use **Live mode secret key**.

[2019-09-17 09:56] #105 closed

[2019-09-17 19:57] harman28 commented on #105
This isn't true. If the order is created and payment are in test mode, the signature too will be generated using your test key secret.

[2019-09-18 06:50] MrSpark2591 commented on #105
@harman28 Yes, that's what I was expecting. That's why I have reached out to the Razorpay support team and in screen sharing support session surprisingly we got the conclusion. Hope that this gets fixed soon. If you want to track the ticket, Ticket no for the issue is: 720458.

[2019-09-19 12:27] raginisahu opened #106 "How do i navigate to the payment gateway?"
I am using razor-pay in app please help me how do I create a payment.

[2019-09-20 06:29] umanghome commented on #106
You'll need to use Checkout. Please refer to the docs here: https://razorpay.com/docs/payment-gateway/quick-integration/

[2019-09-20 06:29] #106 closed

[2019-09-26 16:47] srmehranzone commented on #104
I am getting the same error what should I do?

https://prnt.sc/pbdmda

[2019-09-27 05:43] nutangwari opened #107 "Understanding the payment states"
Hi,
I understand this forum is for bugs and not knowledge sharing, but i have gone through almost all pages and got nothing, so lets treat this as a documentation bug, if u want to take it that way.

**Scenario**:
I am using google cloud functions to generate order ID, once id is  generate i am making call to payment  api (following standard checkout flow) and once order is completed i am trying t

[2019-09-27 06:21] radhika-tk commented on #107
Yes, this is right!

Are you looking at this document: https://razorpay.com/docs/payment-gateway/payment-flow/?

This should help: https://razorpay.com/docs/server-integration/nodejs/usage/

[2019-09-30 10:46] umanghome commented on #104
@srmehranzone Please follow @harman28's answer.

[2019-10-14 07:37] radhika-tk commented on #107
@nutangwari : Can you confirm if the links provided were of any help. Please raise a Support ticket (https://razorpay.com/support/) to address the documentation gaps.

[2019-10-24 03:21] gaurav- commented on #57
That's it? No type definitions? @rzpamidi @razorpay

[2019-10-24 04:36] rakshith-ravi commented on #57
@gaurav- yeah so much for them being developer friendly, eh?

[2019-10-25 04:04] apmcodes opened #109 "In manual checkout handler function is not triggerred instead shows alert"
Follwing the standard checkout manual process.

But the handler function doesn't get triggerred but instead response is shown in an alert window of the browser.

[code]
Even on successful test payment, handler is not triggerred but the Razopay checkout popup vainishes on clicking the Success button.

![Screenshot from 2019-10-25 09-33-22](https://user-images.githubusercontent.com/13360356/67542468

[2019-10-25 04:17] umanghome commented on #109
A payment has already been done against the Order whose `order_id` you are passing in the options. Try creating a new order.

[2019-10-25 04:18] umanghome commented on #109
But success should generally work. Could you post a snippet of your code with the keys redacted?

[2019-10-25 04:22] apmcodes commented on #109
@umanghome thats true, but on error still need to capture this response and show appropriate message in the handler function.

Even on successful test payment, handler is not triggerred but the Razopay checkout popup vainishes on clicking the Success button.

Using Quasar.
Please find the code

[code]
[code]

[2019-10-25 04:43] apmcodes commented on #109
@umanghome Tested again in another browser and successfull payment does call the handler, as you mentioned. May be, it could be that the browser cache may have casued this as earlier I had tried the the automatic checkout (no handler).

So going back to the original issue, Is it possible to get the open() method still call the handler incase of error, so that we can gracefully take appropriate act

[2019-11-05 13:03] thisisganesh commented on #104
A humble request. And i spent way too much time on browser and finally after long time i found out this page. can you please take a minute of your life and make that error message more specific please !!

[2019-11-13 16:16] slacker07 opened #112 "Web hook signature validation failure"
`Razorpay.validateWebhookSignature()` always returns false.

[2019-11-15 08:44] s8sachin commented on #112
+1

[2019-11-15 08:55] slacker07 commented on #112
The problem is in converting request body to string. Razorpay uses ` .toString()` to convert the object in to string
Using `JSON.stringify` solves  the issue

[2019-11-15 11:23] s8sachin commented on #112
Thanks for solution!

[2019-11-27 09:01] arvindzone commented on #97
I am getting the same error too. (Angular/nodejs) Please help. I tired both on stackblitz and on local machine but I keep getting these message in the console.

[2019-12-01 14:42] SilverFoxA opened #114 "How can I associate a customer to an order?"
I see `razorpay` provides customer APIs, but nowhere in the API references talks about how to link a customer to order.

Would like to understand, where can we use the customer APIs if not order?

[2019-12-02 10:49] asgupta-2019 commented on #29
anyone have same code in php

[2019-12-07 19:38] sedhuait commented on #112
`JSON.stringify` doesnt work for me.

[2019-12-20 10:34] TechnicalRhino opened #116 "Add Type Definition to the Module"
Adding to issue #59 as it's closed and it's been a while from when the original issue was published (more than an year).

I am working with Razorpay SDK extensively and I think there should be proper type definitions for each and every module. It's very difficult to use the SDK otherwise.

I know this is an enhancement but I guess people will be more than happy to see this in the new release.

TIA

[2020-01-02 13:53] captn3m0 commented on #112
Do not use JSON.stringify. Instead use the raw request body: https://stackoverflow.com/questions/18710225/node-js-get-raw-request-body-using-express

[2020-01-02 13:53] #112 closed

[2020-01-19 17:34] imdkbj commented on #96
I am also facing the same issue with invoice.paid event where as other works. How to deal with it.

[2020-01-22 06:33] harman28 commented on #96
The same way as mentioned above. Do not parse the JSON. Use the raw body for the generation of the signature. You'll see issues in only the invoice webhooks if that's the only flow where you've got special characters in the webhook body.

[2020-01-22 06:45] imdkbj commented on #96
Hey!! Can you share a example code for the same with nodejs and express.

[2020-01-26 05:58] prasad8mhatre commented on #95
Please add update subscription method in node-sdk

[2020-02-18 12:40] blue-run commented on #65
if you are using test mode then just remove "''''' options.put("order_id", "sadasd"); ''''" this line of code from the startPayment method

[2020-02-20 12:59] ChrisLahaye commented on #116
@umanghome Can you guys please make a serious attempt in adding typescript support

[2020-02-23 06:21] geekykant commented on #29
Yes this works great!

[2020-02-27 14:00] geekykant commented on #29
Here is my working code. 🙂

[code]

[2020-03-17 04:19] ksAvinash commented on #96
facing same issue here.
I'm not using the razorpay node, instead just relying on APIs.

[code]

The above snipped generated signature is working fine for all other events except invoice paid

[2020-03-18 03:42] rameshsambu-dev commented on #104
I am facing the same error. When I select the UPI apps ex: Phonepay it showing error like below
The server encountered an error. The incident has been reported to admins.
But in staging it is moving to the specific app?

[2020-03-26 07:01] bhumi-gothi opened #124 "razorpay-node subscription signature verification - signature is different than generated by hmac sha256 in test mode"
When verifying the signature of subscription:
Request data from angular:

[code]

Subscription response is:
[code]

And the response after payment completion is:

[code]
And key generated using Node.JS is :

[code]

**6ba9de9f7ba06c0625bd6dc75a0fc8180be4e851860d045b488e8107e67ed530** - Response
**00240cdea89e0d92b700e3158b4dbb5a4f64f35f689eca69f7bb6193f4d68372** - Generated

Both are different.
Th

[2020-03-27 11:08] 1upkd opened #125 "Feature request: Verify Razorpay signature obtained from payment success callback"
[Kindly excuse if feature already exists. I was unable to locate it]

Once an order is created using the orders API, the razorpay_order_id is sent to the front-end form to complete payment. After payments is done, razorpay triggers a post request to the action URL of the form. Once the post data is received the signature has to be verified.

In the documentation provided [https://razorpay.com/docs

[2020-03-28 07:43] umanghome commented on #125
I'm assuming you are talking about the `client.utility.verify_payment_signature(params_dict)` functionality from [the python SDK utilities](https://github.com/razorpay/razorpay-python#utility). Seems like useful feature to have.

[2020-03-28 08:03] kdnanmaga commented on #125
Yes that's exactly what I'm talking about

[2020-03-29 12:59] samG4 commented on #104
I am facing the same error as well

[2020-03-30 08:48] bhumi-gothi commented on #125
I am not sure what you need exactly.

But I think you need the code to verify the signature in the node.js. If so then this may help you.

[code]

[2020-03-30 09:48] kdnanmaga commented on #125
I figured out this code. I was asking if this piece of code can be included
in the razorpay node module and abstracted from me.
Karthik D,
+91 9538065734

On Mon, Mar 30, 2020 at 2:18 PM bhumi-gothi <notifications@github.com>
wrote:

[2020-04-07 16:16] bharatbhallaCoder opened #127 "In test mode i am unable to recieve razorpay_payment_id, razorpay_order_id and razorpay_signature on POST request to success url WHY ?"

[2020-04-08 07:15] shailu26 commented on #29
i am also getting same problem please help

[2020-04-08 08:56] shailu26 commented on #96
same issue :(

Do anybody know the solution?

[2020-04-08 09:09] shailu26 opened #128 "razorpay.validateWebhookSignature not working for invoice.paid events and working on all other cases"
do anybody knows why validateWebhookSignature is not working for invoice.paid evnets?

Here is the code -

[code]
for all webhook events its working except invoice.paid

[2020-04-08 16:36] dpz3579 commented on #29
are you using the proper secret that was there when you configured it ?

[2020-04-09 05:25] shailu26 commented on #29
yeah it's working properly for all the webhook events, only in case of invoice.paid the validator is returning false

[2020-04-09 05:39] shailu26 commented on #96
even after passing rawbody to validator its still failing for invoice.paid event

[2020-04-09 17:11] imdkbj commented on #96
Yes, this is nonsense, I am too struggling

[2020-04-16 10:57] orbitboy007 opened #129 "API's stopped working from node module but it's working if directly call to razorpay end points."
I am getting { statusCode: undefined, error: undefined } response in all functions used from node library. which is working fine previously.

below code  giving  { statusCode: undefined, error: undefined } response
[code]

below code giving success response
[code]

I am using Node.js v11.11.0 and razorpay@2.0.6

Any one has idea why this happen?

[2020-04-17 08:28] krishnaow commented on #96
`let  reqBody = req.body;
 let signature = req.headers["x-razorpay-signature"];
 let isSignValid = await razorpay.validateWebhookSignature(reqBody, signature, env.webhookSecret)`

Here also same issue,
Anybody know the solution?

[2020-04-19 09:49] keermanish commented on #77
The issue is indeed valid, I'm also getting the same problem.

**request** `{ amount: 30000,
currency: 'INR',
payment_capture: true,
receipt: '#r1',
notes:
{ key1: 'somthing' } }`

**response** `{ statusCode: undefined, error: undefined }`

note - I tried reinstalling node modules.

[2020-04-19 14:34] jatin510 commented on #77
You have to enable billing for the razorpay. This is just due to the fact your billing is not done.

[2020-04-19 15:02] keermanish commented on #77
hm. bit weird, I just restarted my system and things started working back. seems something was blocking connection with Razorpay API.

[2020-04-19 22:44] umanghome commented on #116
We've started work on porting the library to TypeScript.

[2020-04-20 05:07] ows1th opened #131 "Razorpay.validateWebhookSignature() is not working for invoice.paid events"
ref. old issue  #96

[code]

Still facing the issue with Invoice.paid hook event signature validation is failing every time

had to bypass verification for now to use it which is not ideal. plz look into this on **priority**

 Razorpay team need to update your SDK?!

[2020-04-23 10:45] sumanth10 opened #132 "Test mode success response object does not contain razorpay_signature"
I am trying to make payment in the test mode and the payment is successfully made. However, I am receiving only `razorpay_payment_id` in the response from the handler function. Is this expected behavior in the test mode or am I missing any parameters?
If this is expected behavior, please me understand the testing process for verification during development

[2020-04-25 10:25] nveenjain opened #133 "Provide type annotations for razorpay"
Currrently, neither razorpay has typed annotation, nor are they listed on @types/razorpay. Please add typed annotations to make the development experience easier.

[2020-04-25 10:27] nveenjain commented on #133
Closing in favour of #116

[2020-04-25 10:27] #133 closed

[2020-04-27 19:00] abelkbil commented on #90
npm install  razorpay to an angular project.
in a component ts file, upon a button click function
```const Razorpay = require('razorpay');```

[code]

ng serve

you will  get below error,

[code]

[2020-05-03 17:31] nveenjain opened #134 "Add support for settlements API"
It would be really great if you guys can support https://razorpay.com/docs/api/settlements/ via the node module itself.

[2020-05-06 21:35] DevNiklesh commented on #57
I'm trying to integrate razorpay with firebase using typescript. I'm stuck on importing razorpay as there is not reference. please help!

[2020-05-07 08:24] DevNiklesh commented on #57
I'm getting order Id as null.. Could you help?

[2020-05-08 17:33] nikmk commented on #105
Its probably base64 and not hex in digest. @harman28 @MrSpark2591

[2020-05-12 16:01] duttasudip89 commented on #132
I am also getting same issue.

[2020-05-18 03:17] shsanchit commented on #65
Easiest way i find when i stuck here just add another nest object to your options i.e
 "notes": {
        "order_id":newId,   (Add here static or dynamic data)
      },

[2020-05-19 21:49] ganeshrvel commented on #132
If anyone else is wondering why these values are missing in the response, just pass the `order_id` in the options object.

Something like this:

[code]

[2020-05-19 21:50] ganeshrvel commented on #127
If anyone else is wondering why these values are missing in the response, just pass the `order_id` in the options object.

Something like this:

[code]

[2020-05-20 08:52] umanghome commented on #127
The options need a `callback_url` and no `handler` should be present.

[2020-05-20 09:11] ganeshrvel commented on #127
@umanghome i am not sure how exactly that had be. But the above code was tested and it's working fine for me. The call back url is another method that i saw in the razorpay docs.

[2020-05-20 15:26] umanghome commented on #127
If you pass the `handler` function, you get the Order ID, Payment ID, and Signature in the `response` argument of the handler function.
If you pass a `callback_url`, a POST request is made to that URL instead.

The options you added are valid - they just don't go to the POST-request flow, which the title of the issue talks about.

[2020-05-20 15:27] umanghome commented on #127
@bharatbhallaCoder - Can you post the options you are passing to Checkout with your you API key redacted?

[2020-05-21 20:44] pojrzynski commented on #124
I have the same issue, did you resolve it?

[2020-05-22 10:40] bhumi-gothi commented on #124
@pojrzynski

Yes this has been resolved now.

Please notice below code:
`data = hmac.update(req.body.razorpay_subscription_id + "|" + req.body.razorpay_payment_id);`

This is wrong sequence of razorpay_subscription_id & razorpay_payment_id.

The correct syntax is below:

`data = hmac.update(req.body.razorpay_payment_id + "|" + req.body.razorpay_subscription_id);`

This is little bit confusing for

[2020-05-30 08:33] pavanarela opened #135 "I want to do payment directly from node js without getting input from UI like: card details or netbanking."
1. I have created the order_id successfully.
2. I want to create the payment through this code, it throw the exception "createPayments" is not a function. please suggest

var express   = require('express');
var app       = express();
var bodyParser = require('body-parser');
var Razorpay = require('razorpay');
var instance = new Razorpay({
  key_id: 'rzp_test_evsUzJTytrffSo2Yhk',
  key_secret: 'urB

[2020-06-01 08:06] sita-prajapati-bullhorn opened #136 "The requested URL was not found on the server."
Trying to access from localhost with port.
import Razorpay from 'razorpay';

const instance = new Razorpay({
    key_id: process.env.RAZORPAY_KEY_ID,
    key_secret: process.env.RAZORPAY_SECRET_ID,
});

instance is returning this
"api":{},"payments":{},"refunds":{},"orders":{},"customers":{},"transfers":{},"virtualAccounts":{},"invoices":{},"plans":{},"subscriptions":{},"addons":{}}}

Getting a fo

[2020-06-03 14:02] zainabf3 commented on #83
hey can you share the code ?

[2020-06-03 20:21] NotTooReact89 opened #137 "Using Razorpay in my react app"
Hi,

I tried integrating the razorpay as per your documentation and I got the below error

Access to fetch at 'https://api.razorpay.com/v1/orders' from origin 'http://localhost:8000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

Code that I used is as follows

[code]

[2020-06-03 21:51] umanghome commented on #137
The Orders API is not meant to be used from the frontend. Any API that needs your key_secret is not meant to be used from the frontend.

[2020-06-04 06:03] NotTooReact89 commented on #137
@umanghome thank you. Will use this in the backend and try. :)

[2020-06-04 06:03] #137 closed

[2020-06-05 05:25] tnahdis opened #138 "Order id doesn't exist"
please tell me isuue

[2020-06-08 18:10] apoorvakadam commented on #90
facing the same issue. has anybody found the solution???

[2020-06-09 09:47] Ananthakumars3 commented on #7
I Have some issue but fixed if use card payment don't forgot to add cardname

[2020-06-16 15:47] iAmLakshya commented on #135
@pavanarela
**TL;DR:** You can not.

I believe you can't do so for two reasons:
1.  According to Razorpay's documentation, there exists no method `createPayments`
2. As a security measure, you are not allowed to route or store any sensitive data like card numbers through your server until and unless you are **PCI DSS certified**. This is clearly mentioned by Razorpay [here](https://razorpay.com/do

[2020-06-18 11:43] pavanarela commented on #135
Thanks for your suggeston

[2020-06-18 11:43] #135 closed

[2020-06-18 12:26] pavanarela opened #141 "How to add "fa fa-circle" class before event name into fullcalender using angular."
1.
like: see in image
![image](https://user-images.githubusercontent.com/66160454/85019508-94e82100-b18c-11ea-90b7-b88db5a01cd2.png)
my code:
calendarEvents: EventInput[] = [
    {
      title: 'pavan', start: '2020-06-20', end: '2020-06-22',
      icon: 'fas fa-camera',
      backgroundColor: '#1e8fa3',
      textColor: '#fff',
      description: 'description for Meeting',
      groupId: 'appoint

[2020-07-01 17:54] prmsrswt commented on #116
This is much needed. Another vote for type definitions.

[2020-07-04 12:51] jdevhari commented on #95
Please add update subscription method in node-sdk

[2020-07-16 23:00] #37 closed

[2020-07-22 15:50] abhiditi opened #143 "error ReferenceError: Razorpay is not defined"

[2020-07-25 04:20] sajeeve9 commented on #83
i am trying to integrate Razorpay Hosted Checkout but i am not able to crack this hosted integration pleease help me tro solve this integration

$order  = $client->order->create([
  'receipt'         => 'order_rcptid_11',
  'amount'          => 50000, // amount in the smallest currency unit
  'currency'        => 'INR',// <a href="/docs/payment-gateway/payments/international-payments/#supported-cu

[2020-07-25 04:24] sajeeve9 opened #145 "how to integrate Razorpay Hosted Checkout"
i am trying to integrate Razorpay Hosted Checkout but i am not able to crack this hosted integration pleease help me tro solve this integration

$order  = $client->order->create([
  'receipt'         => 'order_rcptid_11',
  'amount'          => 50000, // amount in the smallest currency unit
  'currency'        => 'INR',// <a href="/docs/payment-gateway/payments/international-payments/#supported-cu

[2020-07-31 09:49] pk4all opened #148 "Getting "The requested URL was not found on the server" error on payout api."
Hi team,
I am getting the error "The requested URL was not found on the server"

My error is
[code]
My code is
[code]

[2020-08-04 05:41] kuldeepdhoni opened #149 "RaZorpay Node js (instance.payments.capture()"
I am passing (payment_capture: '1') while order creation , my query is after payment done then its is necessary to use (instance.payments.capture) API.

[2020-08-11 12:31] aswinsasitest opened #151 "webhook"

[2020-08-11 12:32] #151 closed

[2020-08-11 14:04] Aviking88 commented on #116
At least provide a dummy response for each api doc.

[2020-08-15 23:09] sbamniya commented on #101
I am recently working on RazorpayX, and created a SDK which can help.
If anyone is looking for this, until the official release roll out.
Check it here https://www.npmjs.com/package/razorpayx-nodejs-sdk

[2020-08-19 13:31] austonpramodh commented on #116
This is much needed. Another vote for type definitions.

[2020-08-25 09:32] jagadishg commented on #57
Any update on this issue? Proper typescript support?

[2020-08-27 05:20] sudeeshr commented on #104
I am also facing the same error

[2020-08-27 16:05] vinay-furlenco commented on #149
No. Payment gets auto captured.

[2020-09-03 19:38] imdkbj commented on #131
Hey! check this.

[code]

[2020-09-05 03:12] goschedule-io opened #153 "Oauth 2.0 Support"
Hello Team,

I'm looking for OAuth 2.0 Supported Nodejs SDK for Razorpay API Access. If its available, can you please point me to the right resource documentation?

[2020-09-10 04:41] saikiriti11 opened #154 "Checkout response doesnot contain razorpay_signature property"
I am using web integration manual checkout for payments in my application. I am only receiving `razorpay_payment_id `  in the response to the handler function and `razorpay_signature` property is missing.
Below is the options object that is being passed to razorpay.

![image](https://user-images.githubusercontent.com/35460642/92682133-28289100-f34d-11ea-9f3b-833746b08bd3.png)

Below is the respons

[2020-09-10 07:15] saikiriti11 commented on #154
Looks like i am sending `orderId `instead of `order_id`. It is working after changing it

[2020-09-10 07:15] #154 closed

[2020-09-15 11:45] yashpaneliya opened #155 "Which type of response I will get while creating a customer?"
Hello,
I am trying to create a customer in Razorpay using firebase cloud functions.

I am using the below function to create a customer:

```instance.customers.create({name, email, contact, notes})```

I don't know what to do after calling this function. Like which kind of response I'll get when this function is being called? or what will I receive in response and how to use that response?

Please

[2020-09-15 16:00] yashpaneliya commented on #155
I am closing this issue because I configured the answer of my question😅!!

[2020-09-15 16:00] #155 closed

[2020-09-15 20:38] nitnjain commented on #145
Create a ticket on your RP dashboard.

[2020-09-16 09:55] sathiz1993 opened #156 "Webhook request does not contain "X-Razorpay-Signature" header"
Hi,
I am trying to integrate razorpay web hook in my application. I am unable to validate the signature Since Request header does not contain "X-Razorpay-Signature".

[2020-09-16 10:07] #156 closed

[2020-09-19 19:54] shreeshmishra92 opened #157 "rozerpay"

[2020-09-19 19:54] #157 closed

[2020-09-21 06:58] subhramukherjee opened #158 "Inclusion razorpay in my nodejs server"
You have docs of integrating nodejs-client. I want to integrate razorpay in my nodejs server. How i can do it. One more thing, that, my server is shared server, is it safe? Please suggest..
Thank you..

[2020-09-22 13:58] jitenshah18 commented on #153
+1

[2020-09-22 14:53] jitenshah18 opened #159 "OAuth App : Generate Order Id using account Id in Orders.Create with our Key Id and Key Secret"
I have created a Razorpay OAuth App.  After receiving the access token, refresh token and public token I wanted to create an order for one of our merchants.

I tried to use this code from [here](https://razorpay.com/docs/partners/aggregators/integration/#step-1---create-an-order) using node library with our key id and secret key :

[code]
inspite of giving the account id of our merchant the order

[2020-09-24 06:51] anbarasiu opened #160 "Route - Transfer via Order - SERVER_ERROR"
Hi Team,

I'm trying to create a `transfer` via an `order` to a connected account(https://razorpay.com/docs/api/route/#create-transfers-from-orders), but getting the error _'The server encountered an error. The incident has been reported to admins'_

This is the how the API is being called with mock data. I've verified that the connected account exists with the correct bank account linked and Rout

[2020-09-24 09:13] #160 closed

[2020-09-24 09:14] anbarasiu commented on #160
`transfers` is expected to be an array. Closing this.

[2020-09-29 17:06] manwithsteelnerves opened #161 "paymentService.invoices.create throwing BAD_REQUEST_ERROR (The name format is invalid.)"
We started getting the error stated in the title with 400 status.
[code]

Is there any restriction on the customer name length? If so can you please have it in the api doc if anything like that exists?

[2020-10-03 10:10] yashshah1 opened #162 "Add better type support for this library"
Either add them as declaration files [here](https://github.com/DefinitelyTyped/DefinitelyTyped) or convert this API to be natively written in TypeScript which can later be bundled

[2020-10-15 13:23] deve-sh opened #163 "Small issue regarding signature validation."
Issue Nature: Doubt

Issue Code Reference:
https://github.com/razorpay/razorpay-node/blob/e3cb39105b540dea83372ff147df6fe5bf53d689/lib/utils/razorpay-utils.js#L94

As the above snippet suggests, the request body is being converted to a string form. But the `Object.toString` function always returns `[object Object]` as a string rather than the stringified object. Wouldn't using `JSON.stringify` her

[2020-10-21 08:08] divy9881 opened #164 "Feature query regarding contact and funds account creation."
Does the Node SDK support creation of contact and funds-account?
For reference, this is REST API endpoints [documentation](https://razorpay.com/docs/razorpayx/api/contacts/) query feature.

[2020-10-21 08:08] divy9881 opened #165 "Feature query regarding contacts and fund accounts."
Does the Node SDK support creation of contact and funds-account?
For reference, this is REST API endpoints [documentation](https://razorpay.com/docs/razorpayx/api/contacts/) query feature.

[2020-10-21 08:09] #165 closed

[2020-10-21 10:12] sathyanarayananknila commented on #105
@harman28 Whether this thing is fixed ? i am currently recieving two different strings as signature as the above scenario in test mode

[2020-10-22 20:49] ashishtewari commented on #105
hey @sathyanarayananknila  +1 I am also getting the same issue!
@MrSpark2591 any updates ?

[2020-11-03 06:31] amarmulegithub11 opened #166 "Razor Pay npm use the deprecated dependencies"
Razor pay npm use 3 dependencies ie promise, request, request-promise but **request** is deprecated by npm so kindly use alternate dependency for **request** which is not deprecated.
<img width="1434" alt="Screenshot 2020-11-03 at 12 01 30 PM" src="https://user-images.githubusercontent.com/13164675/97955505-56b26d80-1dcc-11eb-8a67-2a63ab87f223.png">

[2020-11-03 11:40] satya-kalluri commented on #148
Hi RazorPay folks, any resolution on this? I get the same issue despite trying a CURL thing as suggested on the documentation:  https://razorpay.com/docs/razorpayx/api/payouts/#create-a-payout
CURL code as follows: (ofcourse, I have replaced the values of KEY & SECRET. That's how did I manage to create the contact and fundAccount)
curl -u <KEY>:<SECRET> \
-X POST https://api.razorpay.com/v1/payout

[2020-11-03 16:06] satya-kalluri commented on #148
Apparently, this API (business) works only when the accounts is registered/activated at https://x.razorpay.com .
Note that, you cannot register at the former with personal emails,  you need to have a business-email.
I have got this resolved.

[2020-11-03 21:37] satya-kalluri opened #167 "Customer > Contact , VirtualAccount > FundAccount > - are they merely naming convention changes?"
I don’t seem to find a way/method to create CONTACTS and FUND-ACCOUNTS. But see, CUSTOMER and VIRTUAL ACCOUNTS.

Are they merely a naming convention change? If yes, will the existing methods of customers create contacts?
If no, when are we expecting an update to this NPM module?

[2020-11-03 21:47] satya-kalluri commented on #167
I was able to create a CONTACT, with the customers API. But, not able to create a FundAccount with VirtualAccounts API.  I don't see a way but to use axios in my ExpressJS client and make the API call myself.  Am I missing something or is this the only way out now?

[2020-11-05 07:37] propardhu commented on #97
I'm facing the same issue plzz help mee

[2020-11-06 10:42] himanshusharma89 commented on #131
@imdkbj Yeah, it is working.

[2020-11-07 06:25] vinitexelanceit opened #168 "Getting "The id provided does not exist " with code "BAD_REQUEST_ERROR""
[code]

[2020-11-10 11:09] vikaskumar908 opened #169 "Issue in callback_url"
Hi,
I am integrating Razorpay with web integration. Since the current application that i am working on is a web application and usually runs within Instagram webview, i had the issue that during testing the payment confirm/reject pop-up would not show up. So when contacting razorpay support team, i was told to use `callback_url` with `redirect:true`. This worked for cards like a charm. But when i

[2020-11-13 04:13] Ajith-stark commented on #168
Thats not how you make request. You need to add "authorization header" .
`var axios = require('axios');
var data = JSON.stringify({"amount":21850,"currency":"INR"});

var config = {
  method: 'post',
  url: 'https://api.razorpay.com/v1/payments/<PAYMENT_ID>/capture',
  headers: {
    'Content-Type': 'application/json'
  },
 auth: {
    username: <key_id>,
    password: <key_password>,
  },
  data

[2020-11-19 06:01] gigcompany commented on #131
I am facing the same issue. I have the below code.

`var signature = req.get('X-Razorpay-Signature');
        const validate = Razorpay.validateWebhookSignature(JSON.stringify(req.body), signature, 'G0Fl0@t#r$');
        const razorpayData = req.body;`

Getting "false" for validate for "payment.captured' event.

[2020-11-19 06:21] gigcompany commented on #131
I am getting "false" for "payment.captured" event with this code.

`var signature = req.get('X-Razorpay-Signature');
        const validate = Razorpay.validateWebhookSignature(JSON.stringify(req.body), signature, secret);`

What am I doing wrong?

[2020-11-19 08:08] imdkbj commented on #131
Reqbody is the issue.

Pls follow my previous comment.

[2020-11-20 12:26] Aditya-Bailey opened #170 "instance.orders.create"
failing with :
Unhandled rejection (<{"statusCode":400,"error":{"code":"BAD...>, no stack trace)

[2020-11-20 13:25] #170 closed

[2020-11-24 10:32] JaganJonnala commented on #97
+1

[2020-11-27 17:39] subhasishdas159 commented on #102
I'm using next js and I have a handler function inside Razorpay that sets the states upon success.

Can you please say how exactly to mock and success and a failure case?

[2020-12-07 09:45] pnutmath commented on #148
@satya-kalluri - I dont think this SDK supports payout API..

[2020-12-18 09:49] SHAHRUKH-KHAN opened #171 "Test Mode - Verification of Razorpay Signature Failed"
Hi Team,

This is related to the [closed](https://github.com/razorpay/razorpay-node/issues/105) issue.

[code]

The signature is generated which is not matched.
variables used above:
1. order_id - custom-generated (not the one returned from Razorpay)
2. razorpay_payment_id - Returned by Razorpay Checkout.

+1 if you face the same.
Razorpay Team - Please look into this.

[2020-12-19 18:38] shubhangchourasia commented on #159
May I know how did you Instantiate Razorpay using your keys. I am using this code.
[code]
And when I run this in a function. I gives error - **No key passed**. I don't know what's wrong.

[2020-12-20 17:54] shubhangchourasia opened #172 "Razorpay says No key passed when trying to Instantiate Razorpay."
I am trying to integrate Razorpay with my Nuxt App. And everything is fine when I run it in **test mode**. I don't know why but it does not require **order_id** in test mode.
But when I tried to add **order_id** field for doing payment in **live mode**. The below code is required first to Instantiate Razorpay.

Note - Got this from Razorpay Docs [Create Order](https://razorpay.com/docs/api/orders/

[2020-12-20 23:04] girishpatil16 opened #173 "Razorpay - Issue with credit card validation, Customers are not able to use Credit / Debit Cards while making a payment"
![Error](https://user-images.githubusercontent.com/76411283/102726495-4dae3900-4345-11eb-94c5-4d73aff23747.PNG)

Hi Team,

My customers are not able to make payments using Credit / Debit Cards on Razorpay. Every time they are getting below attached error. Payment ID / Failure ID also not getting generated. Please resolve the issue sooner or let me know what needs to be done to avoid below errors.

[2020-12-21 09:39] shubhangchourasia commented on #170
Hey, is the code below working for you ?
[code]

[2020-12-23 03:50] #172 closed

[2020-12-23 03:51] shubhangchourasia commented on #172
Closing this as I figured out the issues and it is working now.

[2020-12-25 14:19] shuvenduoffline commented on #97
+1

[2020-12-27 02:17] AkhileshOntipalli commented on #172
@shubhangchourasia  Sir could you let me know how did you resolved the  Razorpay says No key passed when trying to Instantiate Razorpay issue? iam using react js

[2020-12-27 02:40] shubhangchourasia commented on #172
I implemented this in Nuxt App. I first wrote the code in frontend inside script tag. That's where I got the No Key Passed Error.
But to make it secure I wanted to write it in the cloud function. So again I tried and wrote the code inside firebase function index.js file. And it some how worked.

Can I see your code.. The code to instantiate razorpay ?
Where is your code, I mean in which file and h

[2021-01-02 20:01] mdwt opened #174 "Determine origin of order/payment"
Hi there,

How can I determine the origin of a payment from a payment page (e.g. payment page URL, payment page title or any useful data) using either webhooks or the API?

I have multiple payment pages linked to different offers in my system, but it seems the webhook/API payloads does not contain any information on where the payment originated from when a payment page was used.

[2021-01-04 07:04] ojaswa1942 opened #175 "Feature: Complete Support for Subscriptions"
Currently, not all subscription operations are implemented in the SDK.
For example, [Update Subscription](https://razorpay.com/docs/api/subscriptions/#update-a-subscription).

[2021-01-07 06:09] mprem1204 opened #176 "Feature:Settlement webhook for payments"
Currently settlement webhook works for 'route', It would be  helpful to get settlement webhook for normal Payments(usecase:Products who use direct payouts will need this feature)

[2021-01-09 17:19] Arjit222830 opened #177 "Razorpay heroku production error"
Razorpay integration is working well with my localhost but not while deploying it in heroku. npm start is showing an error

[2021-01-13 07:14] LOG-TAG commented on #29
@geekykant  https://razorpay.com/docs/webhooks/ new updated webhooks also will work the same way?

[2021-01-13 11:52] abhijit-hota commented on #163
+1 to this.
Came here to report the same.

If by doing this, the library is basically only checking for the `[object Object]` string encoded with the signature.

The JSDoc is also wrong for the `validateWebhookSignature` function.

It asks for the request body but has a parameter named summary as a String.

Please fix this and update the docs accordingly.

[2021-01-13 12:04] abhijit-hota commented on #163
According to the webhook docs, we shouldn't parse or cast the req.body in any way.

If you're using express along with body-parser, then your request bodies are automatically parsed to am object.

We should instead pass in the "raw body" to the function.

[2021-01-13 12:31] deve-sh commented on #163
@abhijit-hota That's absolutely correct. The issue was that even after using the raw body the signatures weren't matching and that was when I noticed this code snippet in the SDK. There was an issue with the signature that came from the webhook itself.

[2021-01-13 12:49] abhijit-hota commented on #163
Ah, I see. Actually I'm facing the same issue now. I don't know what's happening but the signatures aren't matching.

Any pointers on how you resolved it?

[2021-01-13 13:53] deve-sh commented on #163
No resolution yet. I simply setup idempotency for now and validate whether the data that's sent in the request is actually valid data that exists on Razorpay's servers using their APIs.

[2021-01-18 13:19] anuj0298 opened #178 "payment transfer"

[2021-01-22 04:59] RohitChattopadhyay commented on #171
Can you try this once, to generate signature
[code]

Ref: https://github.com/razorpay/razorpay-php/pull/147/files#diff-cec2e6ba3034a76554db4a9fbbca23051d9b3f3ed8b3bb32a7c4759d61764348R44

[2021-01-26 12:34] ojaswa1942 commented on #175
I am willing to take this if the repo is still being maintained? Can any maintainer give me a go-ahead?

[2021-01-29 08:24] adarshmadrecha commented on #175
I am also looking for this.

[2021-02-03 07:56] catrawalkar commented on #97
Dude..! You just exposed your razorpay credentials..!!!

[2021-02-24 11:52] mujtabafurqan commented on #175
Looking for this feature as well

[2021-03-01 06:03] vin-mad commented on #175
I am also looking for this...specifically the expand facility in fetching payments!

[2021-03-01 06:37] ojaswa1942 commented on #175
If it helps anyone, I've created a helper function using [`fetch`](https://www.npmjs.com/package/node-fetch) for the time being:

[code]

You can now directly follow the [API reference](https://razorpay.com/docs/api/subscriptions/). For example, to [update a subscription](https://razorpay.com/docs/api/subscriptions/#update-a-subscription):
[code]

You can also further throw the complete error obje

[2021-03-11 11:21] shaskrm opened #182 "razorpay"

[2021-03-17 13:12] AkashWarlocks opened #184 "Create order error on passing 'partial_payment' param."
I am using following body to generate Order.
[code]

The Error I received is

[code]

If I don't pass partial_payment this works fine.

[2021-03-20 12:07] rajathongal commented on #158
**//PaymentGateway.js**
[code]
`module.exports = razorpay;`

**//anywhere you want to use**
`const razorpay = require('fromFileLocation/PaymentGateway');`

[2021-03-21 06:15] Rishi-34 opened #185 "facing issue with fetcing the price of product from databse"
HI,
i am testing razor pay for my companies project to integrate the payment gateway
when i am trying to fetch the payment for database and i have created the const with name amount as per razorpay documentation.it is throwing an error amount is mandatory . but when i am passing some number to the constant amount like const amount=150 it is executing but when trying by using the my mongoose scheem

[2021-03-21 06:17] Rishi-34 commented on #177
hi i am facing some error with razor pay payment integration pleasee advise

[2021-03-24 15:33] zifahm commented on #177
Same here any idea? i keep getting ```The id provided does not exist'```

[2021-03-26 17:01] Arjit222830 commented on #177
@zifahm Actually I solved the error. Can u plz tell me what your error actually is.

[2021-03-26 19:24] zifahm commented on #177
How did you solve it? I kept getting teh ```Bad request``` ```The id provided does not exitst``` only while pushing into heroku with test api key's @Arjit222830

[2021-03-30 02:46] Arjit222830 commented on #177
Can i see your repo @zifahm

[2021-03-30 14:24] pvsvamsi commented on #171
@umanghome Can we expect an update on this?

[2021-04-04 13:14] zifahm commented on #177
How did you fix it, i tried digital ocean as well, still the same thing @Arjit222830

[2021-04-14 18:31] DibyajyotiMishra commented on #171
0

I am getting undefined values of razorpayOrderId and razorpaySignature from the handler response while working on test mode. So the payment verification fails in the backend. I have been stuck at this for over a day now. Any help is highly appreciated.

This is my code snippet:

`const launchRazorpay = async () => {
    const order = await axios.post(`${domain}/api/subscription/pay`);

    cons

[2021-04-14 18:34] DibyajyotiMishra commented on #105
I am getting undefined values of razorpayOrderId and razorpaySignature from the handler response while working on test mode. So the payment verification fails in the backend. I have been stuck at this for over a day now. Any help is highly appreciated.

This is my code snippet:

`
const launchRazorpay = async () => {
    const order = await axios.post"http://localhost:8081/api/subscription/pay");

[2021-04-21 08:58] vikasg603 commented on #57
This is not expected from a Razorpay team.
This issue is still pending after even 1 year.

[2021-04-27 05:50] Praveen2106 opened #186 "Query Payments using Email Address"
Hi,
Is there any way to query Payments API using the Email Address? We have this feature on the Razorpay Payments Dashboard.

Regards,
Praveen Krishnan

[2021-05-28 09:46] suyashb734 opened #191 "Cannot Fetch individual Items breakup from a payment made on Payment Page."
I generated a payment page in RazorPay which has 3 items for payment.
To understand please look below.

[https://pages.razorpay.com/pl_HG9bgPKPYPjqjP/view](https://pages.razorpay.com/pl_HG9bgPKPYPjqjP/view)

On a successful payment I would like to see the breakup of Items through the API.
I've checked both the Orders and Payment Id API and did not receive the breakup of the items. I just get the t

[2021-06-18 11:07] sachi097 opened #193 "Update for Payment Links API -https://api.razorpay.com/v1/payment_links"
As of 01 Sep 2020, Razorpay introduced new API end point for payment link.

Old API URL: https://api.razorpay.com/v1/invoices
New API URL: https://api.razorpay.com/v1/payment_links

Could you please let us know when the new API end point be available in razorpay-node client.

Thanks in advance

[2021-07-15 18:06] prashantnirgun commented on #172
I am using Nuxt.js I added script: [{ src: "https://checkout.razorpay.com/v1/checkout.js" }] in nuxt.config.js Is it anykind of restriction for localhost but it works from Postman same code I am using <v-btn @click="order">Order</v-btn>

[2021-07-15 18:16] shubhangchourasia commented on #172
There is not issue with localhost. Everything works fine with both development and production server if the code is correct.
What is the **order** function in the button ? What happens when you click it ?

[2021-07-16 03:13] prashantnirgun commented on #172
[code]

[2021-07-16 04:00] shubhangchourasia commented on #172
The code looks fine as of now.
Are you able to create the order?
What's the message in these consoles
console.log("response", response);
console.log("razorpay", instance);
console.log(order);

[2021-07-16 04:11] prashantnirgun commented on #172
[code]
[code]

[2021-07-16 04:49] shubhangchourasia commented on #172
I will run the code and get back to you.

[2021-07-16 05:16] prashantnirgun commented on #172
I checked page source <script data-n-head="ssr" src="https://checkout.razorpay.com/v1/checkout.js"></script>.

[2021-07-16 05:57] prashantnirgun commented on #172
I moved the code to backend server it works in 1st shoot let me connect with support team I think it didn't work on localhost but it works from Postman and other rest client I think Instantiation required some more options.

[2021-07-17 08:27] suyashb734 commented on #174
I have the same problem. Any way to solve it??

[2021-07-17 14:26] lucky143-cool commented on #104
I got same The server encountered an error. The incident has been reported to admins. razorpay not fix this issue from 18 days . razorpay customer support team and technical team need free salary they are scammers

[2021-07-17 14:26] lucky143-cool commented on #104
![Screenshot_2021-07-17-10-18-39-026_com android chrome](https://user-images.githubusercontent.com/87574524/126040155-4d445777-ba36-4403-bfc6-f0c24f25af83.jpg)
 How to fix this The server encountered an error. The incident has been reported to admins.

[2021-07-19 06:57] luckypatidar opened #200 "Razorpay orderId is api is not working."
I tried to generate order_Id using react but I didn't get the response.
I tried the following code but it didn't return anything.

const options = {
    amount: "49900",
    currency: "INR",
    receipt: "order_rcptid_11",
}

razorpay.orders.create(options, function (err, order) {
    console.log(order);
});

Please help me to resolve this.

[2021-07-21 04:46] shubham-web commented on #200
Orders should be created on the (backend) server, not the React app.
Because it needs an API key and the secret key which should not be exposed to the webpage (client side).

[2021-07-22 19:40] luckypatidar commented on #200
Thanks for this advise.

[2021-07-22 19:40] #200 closed

[2021-07-24 18:43] PavanDongare commented on #193
@sachi097 for now the only way to use new payment API is to use Axios/fetch type HTTP call?

[2021-07-24 18:48] sachi097 commented on #193
@PavanDongare Yes I could make it work using Axios.

[2021-08-03 03:10] venkatesh-pro opened #202 "Please tell how to onboard user in razorpay like stripe express and standard"
Please tell how to onboard user in razorpay like stripe express and standard

[2021-08-10 08:51] vikasg603 commented on #193
https://github.com/vikasg603/razorpay-typescript

I implemented the new unofficial library, reasons:
1) typescript support.
2) Removed legacy callbacks ( If you were using the promise API, then you don't have to change anything at all)
3) Improved code to not require any module inside the function (This was the major reason I opted to create my own library, as requiring module is CPU intensive syn

[2021-08-10 10:10] vikasg603 commented on #184
What I feel is Razorpay is not maintaining this library for the last many days.
I created a new library which I will maintain; This also comes with typescript support.
You can install it from here https://github.com/vikasg603/razorpay-typescript

[2021-08-10 10:11] vikasg603 commented on #177
What I feel is Razorpay is not maintaining this library for the last many days.
I created a new library which I will maintain; This also comes with typescript support.
You can install it from here https://github.com/vikasg603/razorpay-typescript

[2021-08-10 10:11] vikasg603 commented on #175
What I feel is Razorpay is not maintaining this library for the last many days.
I created a new library which I will maintain; This also comes with typescript support.
You can install it from here https://github.com/vikasg603/razorpay-typescript

[2021-08-30 09:09] KhushiRajpal opened #209 "The server encountered an error. The incident has been reported to admins when generating payment links"
I'm trying to generate a payment-link for a particular account , here's my code :

the function where I'm calling the razorpay service:
![image](https://user-images.githubusercontent.com/62307082/131316189-5af41617-6e87-4c13-9822-9f2071116d25.png)

the razorpay service function
![image](https://user-images.githubusercontent.com/62307082/131316424-7a4d4e74-c0bf-48a2-8c0b-f7c3a99c61c6.png)

[2021-08-30 10:36] KhushiRajpal commented on #209
There's a lot of different documentations on payment link , old apis and new apis , each having different parameters .
The latest and most accurate one is : https://razorpay.com/docs/payment-links/api/v1/create/
Please use for reference, anyone else facing the same issues

[2021-08-30 10:36] #209 closed

[2021-09-19 08:45] atishabhang opened #210 "Webhook: No payload in the request."
I'm using `hapi.js` on my backend.
For testing I'm tunnelling through the `ngrok`.
When I receive webhook the request body is empty.

[2021-09-22 14:42] aseerkt commented on #182
@shaskrm Close the issue. Empty content

[2021-10-08 15:03] virendra34 commented on #148
Okay. Thanks

[2021-10-09 11:58] codewithdpk opened #213 "CORS Policy error intance.plans.all"
I tried to implement the SDK in my javascript app which is showing following error while triggering request for all plans

Access to fetch at 'https://api.razorpay.com/v1/plans?count=10&skip=0' from origin 'http://localhost:3001' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status

[2021-10-16 07:23] ShalinHingu opened #215 "Send or Resend Notifications API missing for Payment_links"
"/payment_links/:id/notify_by/:medium"
Above API is missing from sdk for Payment_links.

[2021-11-01 10:05] Ankit576 opened #234 "RazorPay -"
https://github.com/razorpay/razorpay-node/

Client SDK doesn't have
https://razorpay.com/docs/route/api/account-apis-beta/
for capturing account details

[2021-11-01 10:06] #234 closed

[2021-11-16 05:00] DevT0ny commented on #193
from [docs](https://github.com/razorpay/razorpay-node/wiki#invoices)

[2021-11-17 08:39] SilurianYang opened #240 "The browser directly pulls up the UPI protocol and the payment fails, Help !"
### Please help me, it can still be used normally not long ago, and suddenly found that this method cannot be used normally today 🙏🙏🙏🙏🙏🙏🙏🙏

## Example：
Html
[code]

#### Steps：

1. Use an Android phone with PhonePe installed to open the web page
1. Click Paybtn to trigger app protocol wakeup
1. Enter the payment password until the end of the payment
1. An error is abnormal, and payment cannot be i

[2021-11-20 16:16] sarikarathod20 opened #242 "RazorPay - Linking customer while creating subscription"
I am trying to link customer with subscription, I am not sure what the internal logic is but in the doc it is mentioned that when we pass the payment object in frontend it is suppose to authenticate and will create a customer, my subscription is created and it is active but no sign of customer id.

Frontend Logic (This is suppose to authenticate and create customer)

[code]

[2021-12-18 00:23] ssubham opened #243 "Inst.payments.createPaymentJson not working"
Hi,
I am trying to integrate razorpay api for payment with my orders(not created on razorpay). But, I am getting error of BAD_REQUEST_ERROR.

Made the code like this what it was in sample one for testing --
Inst.payments.createPaymentJson({
        amount: 1,
        currency: "INR",
        order_id: "order_EAkbvXiCJlwhAR",
        email: "user@gmail.com",
        contact: 9111111111,
        met

[2021-12-26 15:41] negati-ve opened #245 "instance.orders.transfers is not a function"
As per documentation @ https://github.com/razorpay/razorpay-node/blob/master/documents/transfer.md,
[code]
results in "instance.orders.transfers is not a function" error

PR #246 adds function fetchTransfers to orders, allowing to fetch transfers for a given order id as follows,
[code]

[2022-01-05 13:17] abdulsattar commented on #162
Can this be prioritized please?

[2022-01-06 07:05] negati-ve commented on #245
no takers?

[2022-01-17 06:54] adarshmadrecha commented on #166
I suggest moving to either [node-fetch](https://www.npmjs.com/package/node-fetch) or [axios](https://www.npmjs.com/package/axios)

If maintainers are accepting PRs, my team can help in migration.

[2022-01-21 14:48] adarshmadrecha opened #251 "[bug] A promise was rejected with a non-error"
When using Promise based order creation, and if it gives error, Node JS will print a warning in console "a promise was rejected with a non-error".

This is because the object returned in `Promise.reject` is not instance of `Error`. The object is a simple JavaScript Object as below

![image](https://user-images.githubusercontent.com/11911938/150547209-18a23866-a6fc-47bc-808b-f8730d91a984.png)

[2022-01-31 11:10] bhaskarb360 commented on #29
I am using with req.body Stringifying else as crypto needs string data with req.body..
Sometimes I am able to receive same valid signature else many times it is different.
Does anyone has any idea to resolve the issue..
![image](https://user-images.githubusercontent.com/89518767/151783489-cb2df466-33d7-4a77-aaf7-116dfb64b9b6.png)

[2022-01-31 11:28] bhaskarb360 commented on #29
Also I tried with .toString still both signatures are different, what is missing to fix..?
![image](https://user-images.githubusercontent.com/89518767/151786116-a6a9a871-d2f6-453e-a08b-cb129db0ba8f.png)

[2022-02-01 13:45] shailesh87 opened #256 "Not able to create Item from sdk."
Hi Mate,

when I want to create  Item from sdk using-

it will not work throw error -
name is not required.

Please any one hel regarding this issue.

Thanks

[2022-02-03 14:39] alandsilva26 opened #257 "Better type definitions for razorpay library."

[2022-02-04 06:08] Tharun-b777 commented on #171
@DibyajyotiMishra were you able to fix this.I am facing the same issue in live mode but works fine in test

[2022-02-04 06:26] devblin opened #258 "Success handler only returns "razorpay_payment_id" in live mode."
[code]
### In Test Mode:
Success handler returns proper response fields as mentioned in razorpay doc.
### But In Live Mode:
On successfuly payment (amount deducted from user's bank account), succes handler returns only `razorpay_payment_id`, without  `razorpay_order_id`, `razorpay_signature`
[code]

[2022-02-04 06:49] xaarth commented on #258
facing the same issue!

[2022-02-04 06:49] Tharun-b777 commented on #258
Hey, I am also facing the same issue, These are my responses in

**Test Mode:**
![Screenshot (1241)](https://user-images.githubusercontent.com/63282510/152484660-608f70df-cb3c-4a2d-bc81-bbef2ed6d2ed.png)

**Live Mode:**
![Screenshot (1240)](https://user-images.githubusercontent.com/63282510/152484713-823dbc96-b9ae-4cdc-acba-5e2a79de4fff.png)

[2022-02-04 06:51] monetree commented on #258
[https://razorpay.com/docs/payments/payment-gateway/web-integration/standard/build-integration/#11-create-an-order-on-your-server](url)

as per the doc it should return

`"handler": function (response){    alert(response.razorpay_payment_id);    alert(response.razorpay_order_id);    alert(response.razorpay_signature)}`

but it returns only. `razorpay_payment_id`

[2022-02-04 06:58] DibyajyotiMishra commented on #171
yes. The function should be async.

handler: async function (response) {
        const data = {
          orderId: order_id,
          doneBy: authState.userId,
          institutionType: authState.userType,
          razorpayPaymentId: response.razorpay_payment_id,
          razorpayOrderId: response.razorpay_order_id,
          razorpaySignature: response.razorpay_signature,
        };

console.

[2022-02-04 07:51] paarthibank commented on #258
Hey I am also facing the same issue.

[2022-02-04 07:54] gokul-00 commented on #258
facing same issue :(

[2022-02-08 07:31] bhaskarb360 commented on #29
So the issue has been due to the response status whether one needs to respond with success or failure need the status 2xx as razorpay tells in their document as well as confirmed from their team.

[2022-02-15 07:44] shadab-hashmi commented on #243
@ssubham Were u able to find any solution . I'm also facing the same issue

[2022-02-17 15:14] devblin commented on #258
Closing this issue, as the problem was temporary (received mail regarding this from razorpay), there was an unexpected issue in payment through UPI-QR.

[2022-02-17 15:14] #258 closed

[2022-03-07 15:19] nuruddinwarsi commented on #148
I am getting the same error when trying to validate VPA
[https://api.razorpay.com/v1/payments/validate/vpa](url)

[2022-03-09 06:52] pnutmath commented on #148
@nuruddinwarsi @virendra34 - Razorpay manually enable VPA validation API for merchant ID. its not by default enabled.

[2022-03-25 05:23] muhtadii commented on #94
One of the reason it occurs is, when you have Convenience Fee Model option enabled in the Settings → Fee Bearer section of the Razorpay Dashboard.

[2022-04-01 16:36] adictonator opened #272 "Various breaking changes to webpack and React"
Importing this module into my Laravel/InertiaJS (React) app is breaking all the other node modules.
One example from the server console is:

[code]

[2022-04-01 22:41] sathwikkuncham opened #273 "Urgent! Strange behaviour when integrating Razorpay with React 18 application"
![image](https://user-images.githubusercontent.com/17959103/161351230-103b7afe-2170-4662-aa3d-a6b62dd32837.png)

error | Object { code: "BAD_REQUEST_ERROR", description: "Your  payment was not successful as this Seller is not allowed to accept  payments. We suggest not going ahead with this transaction.", source: "internal", … }
-- | --

</body>
</html>

I am properly sending all the data, verifie

[2022-04-18 11:10] Junaid-Bashir-Kernel opened #275 "Amount error in nextjs integration"
# Backend
`try { `
 ` const response = await razorpay.orders.create({ `
  ` amount:10000,     (amount in paisa , equals to rupees hundred as per latest docs) `
    ` currency: "INR", `
    ` receipt: nanoid() `,
    ` notes:  { `
      ` key1: "v1", `
      ` key2: "v2" `
    ` } `
   ` }) `
 ` res.json({  `
    ` id:response.id,  `
    `  amount:response.amount, `
   ` currency:response.currency

[2022-04-20 05:38] Junaid-Bashir-Kernel commented on #275
mistyping error

[2022-04-20 10:43] Junaid-Bashir-Kernel commented on #275
i resolved the issue . The problem was that :
i forget to await on here :
let dtj=( here 👍 )data.json() it should have been
let dtj=await data.json()

[2022-04-20 10:43] #275 closed

[2022-05-02 11:25] vishnusureshperumbavoor commented on #77
amount: 1000*100,

[2022-05-02 11:42] vishnusureshperumbavoor commented on #77
connect to internet

[2022-05-02 11:43] vishnusureshperumbavoor commented on #7
connect to internet

[2022-05-08 05:33] mathura333 opened #277 "Please add types support for this package."

[2022-05-11 06:35] rohanrajpal commented on #277
+1, there is neither a docs for these bindings nor typescript support. Kind of difficult to see what functions to use by browsing Readme pages like below
https://github.com/razorpay/razorpay-node/blob/master/documents/transfer.md

[2022-05-16 09:03] DebkanchanSamadder commented on #277
The lack of types makes it painful to work with

[2022-05-25 12:28] govidat commented on #55
This error is reappearing since 24 May 2022.
checkout.js:1 SyntaxError: Unexpected token o in JSON at position 1
    at JSON.parse (<anonymous>)
    at de (checkout.js:1:4093)
    at aa.onmessage (checkout.js:1:77647)

[2022-05-25 15:40] amarwavarenvtechbusiness commented on #55
@govidat  @govidat
Same issue since 24 May 2022 !
I'm using test mode.
Unable to trace, if you found any workaround or resolution also let me know.

[2022-05-26 12:40] gowthamvbhat commented on #55
Same issue here.

[2022-05-26 17:16] alamgir8 commented on #55
Same issue here..... in next.js
SyntaxError: Unexpected token o in JSON at position 1
    at JSON.parse (<anonymous>)
    at de (checkout.js:1:4093)
    at aa.onmessage (checkout.js:1:77642)

[2022-05-27 06:28] jade-anurag opened #281 "Unexpected token o in JSON at position 1 in checkout.js"
same in vue js..
checkout.js:1 SyntaxError: Unexpected token o in JSON at position 1
    at JSON.parse (<anonymous>)
    at de (checkout.js:1)
    at aa.onmessage (checkout.js:1)

[2022-05-28 06:54] sureshthulasii commented on #55
![razorpayerrror](https://user-images.githubusercontent.com/93640314/170814082-0ef9447c-675d-47e3-bd7b-5d38c6ca2068.png)

This error appearing in Razorpay for WooCommerce.

[2022-05-28 07:00] sureshthulasii commented on #55
![razorpayerrror](https://user-images.githubusercontent.com/93640314/170814353-c28d6b7d-e8c5-4275-ae9d-3869ab9f21dd.png)

same issue here in razorpay for woocommerce plugin.

[2022-05-28 07:02] sureshthulasii commented on #55
![razorpayerrror](https://user-images.githubusercontent.com/93640314/170814514-1bc8a921-58e3-4506-8fbc-c6cce55fde6f.png)

same issue here.

[2022-05-28 07:17] mbvenu commented on #55
same issue here

[2022-05-28 11:45] troy-minds commented on #55
Same Issue Here

[2022-05-28 11:46] random-techie commented on #55
Facing Similar Issue, Please reopen if possible.

[2022-05-30 12:13] PrashantMohta commented on #56
<img width="411" alt="Screenshot 2022-05-30 at 5 42 29 PM" src="https://user-images.githubusercontent.com/13180238/170989951-ce3aee71-b22e-4083-8419-f2bc639b9375.png">

Facing this same issue, possibly a regression.

[2022-05-30 12:14] PrashantMohta commented on #281
seems the same as #56

[2022-05-31 06:19] sureshthulasii commented on #55
Again same issue.

[2022-05-31 07:39] bhargava-aman commented on #56
facing the same issue
![image](https://user-images.githubusercontent.com/44424696/171119063-8e50f4df-8df8-4258-9198-9c5cecdde603.png)

[2022-05-31 08:17] ranjuvs26 commented on #55
Facing same issue. Is there any solution for this ?

<img width="606" alt="image" src="https://user-images.githubusercontent.com/92586071/171126044-a0b3daa8-9a90-4ed3-8fe1-23f5e339bece.png">

[2022-06-01 06:15] klakshman318 commented on #55
load `checkout.js` file from local **https://checkout.razorpay.com/v1/checkout.js**

**checkout.js** - replace JSON.parse(e) with `JSON.parse(ce(e))` and verify!

[2022-06-03 05:14] gowthamvbhat commented on #55
I got in contact with Razorpay support and the issue has been fixed now. Confirmed in ReactJS.

[2022-06-30 05:29] quadcodes opened #305 "Facing issue in Transfer reversal"
I'm using the below example for transfer reversal API in testing mode.

var instance = new Razorpay({ key_id: 'YOUR_KEY_ID', key_secret: 'YOUR_SECRET' })

instance.payments.refund(paymentId,{
    amount : 100,
    reverse_all : 1
})

With the above code, a refund is issued successfully but there is no reversal on the linked transfer id.  There is no error response as well while executing. please l

[2022-06-30 09:50] quadcodes commented on #305
resolved

[2022-06-30 09:50] #305 closed

[2022-07-05 10:59] gowthamvbhat commented on #281
I have observed this behaviour if there are duplicate checkout script tags in the html document.
This issue got fixed once it was taken care of.

[2022-07-16 06:39] issa-me-sush commented on #77
ran into it  because of wrong or expired keys, try  regenerating and using

[2022-08-25 10:25] SanjaySRocks opened #307 "[Feature Request] API to fetch all customers at once"
I didn't find any API which can fetch customer's data at once so please add the feature.

The existing feature of getting all customers limit the customer's data to 100 max. So in order to get the data we need to use a loop and use skip.

To bypass this here is a temporary solution to get all customer's data at once

Function:-
[code]

Usage:-
[code]

[2022-08-25 10:56] NipunAgarwal19 opened #308 "instance.virtualAccounts.close sends extra data field status"
While calling the function instance.virtualAccounts.close it throws the following exception:
`{
  statusCode: 400,
  error: {
    code: 'BAD_REQUEST_ERROR',
    description: 'status is/are not required and should not be sent',
    source: 'provider',
    step: 'payment_authorization',
    reason: 'extra_field_sent',
    metadata: {}
  }
}`

Upon furthur inspecting the function i noticed it adds th

[2022-08-29 19:57] kkyusufk commented on #273
Hi, is this issue still relevant?

[2022-08-31 13:41] kkyusufk commented on #308
@NipunAgarwal19 can you provide me a sample code snippet to get started. We have unit tests to test this functionality which are not breaking yet so maybe we might need more clarity on this issue.

[2022-09-08 13:35] ankitdas13 commented on #281
@anuragjade are you still getting this issue please let us know also this issue is not from sdk.

[2022-09-13 11:31] ankitdas13 commented on #273
@kkyusufk could you please let us know are you still getting this issue also can you please provide code snippet so we will check the issue

[2022-09-13 11:36] ankitdas13 commented on #256
Closing this ticket for now. If the issue persists, please reopen.

[2022-09-13 11:36] #256 closed

[2022-09-13 11:49] ankitdas13 commented on #245
@negati-ve sorry for the delay. I hope this issue has been resolved for you also we fixed this api
`instance.orders.fetchTransferOrder(orderId)`

[2022-09-13 11:54] ankitdas13 commented on #243
@ssubham @shadab-hashmi sorry for the delay . you got this error because your account does not have this feature enabled. if you resolved this issue then please let us know

[2022-09-13 12:05] ankitdas13 commented on #240
@SilurianYang sorry for the delay but this issue is not related to this package. even you are not using razorpay [web integration ](https://razorpay.com/docs/payments/payment-gateway/web-integration/standard/build-integration/#code-to-add-pay-button)

[2022-09-13 12:38] ankitdas13 commented on #242
Hi @sarikarathod20 sorry for the delay . i hope this issue has been resolved but in case someone is looking for the same thing. you can get customer id by fetch subscriptions id api

`instance.subscriptions.fetch(subscriptionId)`

[2022-09-13 12:44] gowthamvbhat commented on #161
Facing the same issue. Did you find anything related to this?

[2022-09-13 12:44] akshay220022 commented on #273
Am still facing these issue in past 2 days Plz anyone can help me.

[2022-09-13 12:46] akshay220022 commented on #273
Can You plz help me sir with that, am facing these problem.

[2022-09-13 13:03] kkyusufk commented on #273
Can you provide the code snippet, maybe a sample code pack to start.
Codesanbox can be excellent place to send us your code and we can start some debugging.

[2022-09-13 13:14] ankitdas13 commented on #215
@ShalinHingu sorry for the delay . this api is already integrated could please update the latest sdk .
`instance.paymentLink.notifyBy(paymentLinkId, medium)`

please let us know if you resolved this issue

[2022-09-13 13:31] ankitdas13 commented on #213
Hi @codewithdpk sorry for the delay . If you've resolved this issue, please let us know

[2022-09-15 05:22] ankitdas13 commented on #193
@sachi097 Sorry for the late response. i hope this has been fixed also our sdk is updated now. you can use [paymentlink](https://github.com/razorpay/razorpay-node/blob/master/documents/paymentLink.md) and other new [api's ](https://github.com/razorpay/razorpay-node/tree/master/documents).

[2022-09-15 08:17] ankitdas13 commented on #257
@alandsilva26 sorry for the delay . Thank you for bringing this to our attention. typescript will be migrated in the future.

[2022-09-18 07:40] ankitdas13 commented on #186
Hi @Praveen2106 sorry for the delay . i hope this issue has been resolved but still if someone has same query then please check [payment documentation ](https://github.com/razorpay/razorpay-node/blob/master/documents/payment.md).

[2022-09-18 08:03] ankitdas13 commented on #185
@Rishi-34 sorry for the delay. could you please let me know if you have been successful in fixing this issue ?

[2022-09-18 08:09] ankitdas13 commented on #184
@AkashWarlocks sorry for the delay. this issue has been resolved. please update the SDK to the latest version . let us know if you need any help

[2022-09-18 08:15] ankitdas13 commented on #182
There are not enough details about the issue.

Closing this issue.

[2022-09-18 08:15] #182 closed

[2022-09-18 08:16] ankitdas13 commented on #178
Closing this issue.

[2022-09-18 08:16] #178 closed

[2022-09-19 09:50] ankitdas13 commented on #175
@ojaswa1942 sorry for the delay. It's great that you wanted to contribute to SDK . let us know if you want to contribute again.

[2022-09-19 10:06] ankitdas13 commented on #173
@girishpatil16 Sorry for the delay. Could you please let us know if this issue has been resolved or not ?

[2022-09-19 10:28] ankitdas13 commented on #171
@SHAHRUKH-KHAN @DibyajyotiMishra  Sorry for the delay . the sdk is updated now for payment signature you can this code snippet
`var { validatePaymentVerification } = require('razorpay/dist/utils/razorpay-utils');`

` const respBody = {
              'subscription_id':'sub_ID6MOhgkcoHj9I',
              'payment_id':'pay_IDZNwZZFtnjyym'
          }`
         `const correctSignature = '601f383334975

[2022-09-19 11:21] ankitdas13 commented on #169
@vikaskumar908 . Sorry the late response . i hope this issue has been fixed . `callback_url` is only for successful payment you can also check this [doc](https://razorpay.com/docs/payments/payment-gateway/callback-url) for callback_url

[2022-09-19 11:35] ankitdas13 commented on #167
@satya-kalluri Sorry for the late response. the sdk is now updated, for fund account API use can use this [doc](https://github.com/razorpay/razorpay-node/blob/master/documents/fund.md) . If you have resolved this issue, please let us know

[2022-09-19 12:13] ankitdas13 commented on #164
@divy9881 sorry for the late response . you can use this code snippet
`instance.fundAccount.create({
  "customer_id":"cust_Aa000000000001",
  "account_type":"bank_account",
  "bank_account":{
    "name":"Gaurav Kumar",
    "account_number":"11214311215411",
    "ifsc":"HDFC0000053"
  }
})`

for create fund account or you can use this [doc](https://github.com/razorpay/razorpay-node/blob/master/docu

[2022-09-19 12:17] ankitdas13 commented on #162
@yashshah1 @abdulsattar sorry for the late response . a migration to typescript is planned for the future.

[2022-09-19 12:26] ankitdas13 commented on #161
@gowthamvbhat A customer name should at least contain three characters . let us know if this issue is still persist

[2022-09-19 13:55] gowthamvbhat commented on #161
@ankitdas13 Why is this restriction in place? Couldn't find any documentation on it.

[2022-09-19 13:57] kkyusufk commented on #161
@gowthamvbhat @manwithsteelnerves You are right! We should add this in our documentation.
We will keep this issue open till our documentation is amended.

[2022-09-19 14:01] gowthamvbhat commented on #161
@kkyusufk If you don't mind, can you share why this restriction is in place? I have observed the same in other services

[2022-09-19 15:04] kkyusufk commented on #161
@gowthamvbhat Thats our business requirement, we do not allow less than 3 characters for first name.

[2022-09-19 15:18] gowthamvbhat commented on #161
@kkyusufk Ah! Thank you

[2022-09-20 05:00] #245 closed

[2022-09-20 05:01] ankitdas13 commented on #243
Closing this issue.

[2022-09-20 05:01] #243 closed

[2022-09-20 05:02] ankitdas13 commented on #242
Closing this issue.

[2022-09-20 05:02] #242 closed

[2022-09-20 05:09] kkyusufk commented on #277
Apologies for not supporting types for SO long, I can understand the pain.
We have started looking into migrating to TS the entire SDK, Will update this issue once we have the PR's!

[2022-09-20 05:10] #240 closed

[2022-09-20 05:10] #215 closed

[2022-09-20 11:53] ankitdas13 commented on #158
@subhramukherjee sorry for the late response. could you please let us know if this issue was fixed?

[2022-09-20 12:02] ankitdas13 commented on #153
@goschedule-io Sorry for the delay. currently OAuth 2.0 is not supported in node sdk . i have noted this and forward it to our team, it will be added in the future.

[2022-09-20 12:15] ankitdas13 commented on #149
Hi @kuldeepdhoni sorry for the long delay . i hope this issue has been fixed and `payment_capture` is being deprecated . it automatically captured or you can set in manual capture,  check in configuration.

<img width="892" alt="Screenshot 2022-09-20 at 5 41 29 PM" src="https://user-images.githubusercontent.com/89454448/191254564-159c5e76-7bd2-4877-9f02-3aea9c10c072.png">

[2022-09-20 13:45] ankitdas13 commented on #148
@pk4all sorry for the late response . the error occurred because your account is not enabled for features also  this is an API of Razorpay-X, so you need the Razorpay-X account to access it.

@virendra34 @pnutmath you can use this code-snippet for validate VPA
`instance.payments.validateVpa({
  "vpa": "gauravkumar@exampleupi"
});`

[2022-09-21 06:32] ankitdas13 commented on #168
@vinitexelanceit sorry for the long delay . i hope this issue has been resolved and thanks @DevT0ny for your help

[2022-09-21 06:36] ankitdas13 commented on #145
@sajeeve9 sorry for the late response . could you please let us know was this issue resolved ?

[2022-09-21 06:50] ankitdas13 commented on #143
Hi @abhiditi Sorry for the delay in responding. We'd need a little more info here to debug this, such as the details of the crash or error. I hope this worked out for you

Could you please let us know if this issue was fixed?

[2022-09-21 06:56] ankitdas13 commented on #141
@pavanarela Sorry for the delay but this issue is not related to this package. closing this issue. If you have any issue in sdk please create a new issue.

[2022-09-21 06:56] #141 closed

[2022-09-21 07:03] ankitdas13 commented on #138
@tnahdis Sorry for the late response . I hope this issue has been resolved, and it looks like the order id you are trying to fetch is incorrect or you are trying to fetch the order id with a different credential.

[2022-09-21 07:32] ankitdas13 commented on #136
@sita-prajapati-bullhorn Sorry for the long delay. could you please let us know if this issue was fixed or not ?

I have checked this api in latest sdk and it working fine.

[2022-09-21 07:37] ankitdas13 commented on #134
@nveenjain Sorry for the delay. This Api endpoint has already been added since `v2.8.0`

[2022-09-21 07:49] ankitdas13 commented on #132
Hi @sumanth10 sorry for the long delay. Could you please let us know if this issue was resolved ?

if someone came here looking for the same issue please check this web integration [doc](https://razorpay.com/docs/payments/payment-gateway/web-integration/standard/build-integration/).

[2022-09-21 10:38] ankitdas13 commented on #131
@ows1th Sorry for the late response. as i see your code `validateWebhookSignature` is not asynchronous . This may help anyone experiencing a webhook issue [doc](https://github.com/razorpay/razorpay-node/blob/master/documents/paymentVerfication.md#verify-webhook-verification)

[2022-09-21 10:42] ankitdas13 commented on #129
Hi @orbitboy007 sorry for the delay . Could you please let us know if this issue was resolved?

[2022-09-21 11:35] ankitdas13 commented on #191
@suyashb734 Sorry for the late reply . No you are not missing any api currently there are no items breakup objects in payment response but you can use this fetch all item api [doc](https://github.com/razorpay/razorpay-node/blob/master/documents/items.md).

[2022-09-22 14:30] ankitdas13 commented on #128
sorry for the delay @shailu26. you had to pass rawBody instead of reqBody. could you please let me know if this was resolved ?

[2022-09-22 14:41] ankitdas13 commented on #127
@bharatbhallaCoder could you please let us know if this issue had been resolved ?
if someone came here looking for the same issue please check this web integration [doc](https://razorpay.com/docs/payments/payment-gateway/web-integration/standard/build-integration/).

[2022-09-23 05:13] ankitdas13 commented on #125
Hi @1upkd sorry for the late response . It would be great if the code you mentioned above fixed this issue. also, we already added payment signature verification functionality in sdk [doc](https://github.com/razorpay/razorpay-node/blob/master/documents/paymentVerfication.md)

[2022-09-23 05:34] ankitdas13 commented on #124
@bhumi-gothi sorry for the long delay . could please let us know if this issue was resolved and we already added this functionality to verify [doc](https://github.com/razorpay/razorpay-node/blob/master/documents/paymentVerfication.md)

Thanks @pojrzynski for helping others

[2022-09-23 07:20] ankitdas13 commented on #114
@SilverFoxA sorry for the long delay .  customer id must use while  the order created for the [authorization payment](https://razorpay.com/docs/api/payments/recurring-payments/cards/create-authorization-transaction/#112-create-an-order) at your end also for [recurring payment](https://razorpay.com/docs/api/payments/recurring-payments/emandate/create-authorization-transaction/#112-create-an-order)

[2022-09-23 10:18] ankitdas13 commented on #95
@vivekghanchi @prasad8mhatre sorry for the long delay. edit subscription has already added in sdk.
[Subscription Doc](https://github.com/razorpay/razorpay-node/blob/master/documents/subscription.md)

[2022-09-23 12:14] ankitdas13 commented on #74
Hi @arpitagarwal35 sorry for the latest response. I just tried to replicate this issue, but I didn't get any error while installing `v2.0.3` also i tried verifying webhook signature with the payload https://runkit.com/arpit/5c5eda1e5448d1001534eed7 and I'm getting true. It could be that there is some space in the payload, which is why you are getting a false.

<img width="1159" alt="Screenshot 202

[2022-09-23 15:02] ankitdas13 commented on #40
Closing this issue. As this issue has already been resolved #67

[2022-09-23 15:02] #40 closed

[2022-09-26 02:51] ankitdas13 commented on #273
@akshay220022 can you please provide the code snippet so we can debug the issue.

[2022-09-26 22:08] abhin-dynamify opened #315 "BAD_REQUEST_ERROR while tryinig createPaymentJson in node SDK"
I am trying the createPaymentJson method but i am getting the above error

[code]

error
[code]

[2022-09-27 07:32] ankitdas13 commented on #307
@SanjaySRocks sorry for the delay. there is a possibility that the API might be affected by the feature you suggest . although i will discuss this to integration team.

[2022-09-27 08:16] ankitdas13 commented on #202
@venkatesh-pro sorry for the long delay . If you are under the partnership model, you will be able to onboard sum merchant . currently, there is no API endpoint in the SDK, but you can use the rest API instead.

For more information, please see this [document](https://razorpay.com/docs/api/partners)

[2022-09-27 08:56] ankitdas13 commented on #174
Hi @mdwt sorry for the long delay. could you please let me know if this issue was resolved . the payment page cannot be edited through a webhook or API , you have to do these change by dashboard also if you want to fetch payments that contain offers  then you can use this [api](https://razorpay.com/docs/api/payments/#expanded-offers)
`instance.payments.fetch(paymentId,{"expand[]":"offers"})`

[2022-09-28 08:04] ankitdas13 commented on #177
@Arjit222830 Sorry for the long delay. Could you please tell us if this issue was resolved? I have tried to integrate razorpay and deploy in heroku and its working fine.
<img width="908" alt="Screenshot 2022-09-28 at 1 23 30 PM" src="https://user-images.githubusercontent.com/89454448/192723536-3eae7d7e-1cc0-44e6-833b-bfef6a3870a3.png">

[2022-09-28 13:05] ankitdas13 commented on #109
@umanghome sorry for the long delay. could you please let me know if this issue has been resolved?
I have tried to replicate the same code that you mention above, and it's working from my side

<img width="1217" alt="Screenshot 2022-09-28 at 6 31 53 PM" src="https://user-images.githubusercontent.com/89454448/192785889-0d6a7d5b-a882-4b77-b07a-b2de46798e9f.png">

[2022-09-29 05:34] ankitdas13 commented on #116
@TechnicalRhino sorry for the long delay.  our team has started working on migrating the SDK to Ts , once its done i will update you in this issue

[2022-09-29 07:14] ankitdas13 commented on #272
@adictonator apologies for the late response . Could you please let me know what is the usage of the node sdk in laravel instead of that you can use php sdk https://github.com/razorpay/razorpay-php .
Please let me know if you need any help.

[2022-09-29 13:17] kkyusufk commented on #272
@adictonator please share some examples, that would be helpful to debug the issue.

[2022-10-04 06:48] ankitdas13 commented on #90
@abilash-diviso sorry for the long delay . your sdh integration in frontend seems wrong, you need to integrate it in the backend.

could you please let us know if this issue resolved ?

[2022-10-04 06:58] ankitdas13 commented on #159
@jitenshah18 I apologize for the long delay . as i see your code snippet you are passing `PUBLIC_TOKEN_OF_MERCHANT` in key which seems to be wrong . api key `rzp_XXX_XXXXXXXXXXXXXX` is must for `key`.

please let me if this issue is resolved ?

[2022-10-04 07:36] ankitdas13 commented on #176
@mprem1204 apologise for the delay . you could use payments webhook for normal payments.

If this issue has been resolved, please let us know

[2022-10-11 14:12] sameeriron42 commented on #131
Thanks for this, its working as expected.

I was trying to verify payload `qr_code.credited` webhook event with regular `createHmac` fucntion. The reason for not using `validateWebhookSignature()`is that, the [doc](https://razorpay.com/docs/webhooks/validate-test/) says to use raw webhook request body but the examples [code](https://github.com/razorpay/razorpay-node/blob/master/documents/paymentVe

[2022-11-02 08:12] ankitdas13 commented on #315
@abhin-dynamify apologise for the late response. you got this error because your account does not have this feature enabled. you have to contact with [support](https://razorpay.com/support/) or via the chat option on your merchant dashboard to enable this feature.

[2022-11-02 08:37] ankitdas13 commented on #97
@vibh110397 @anmol171 apologise for the long delay . Could you please let us know if this issue has been resolved also where were you using these api ? because this api's is only meant to be used with Node servers.

[2022-11-02 10:36] ankitdas13 commented on #281
Closing this issue, unrelated to this package. If the issue still persists please find the correct repo and create a new issue .there

[2022-11-02 10:36] #281 closed

[2022-11-02 10:40] ankitdas13 commented on #273
@akshay220022 could you please respond ^

[2022-11-02 10:56] ankitdas13 commented on #272
@adictonator could you please share some examples, so we can replicate the issue from our side.

[2022-11-02 11:06] ankitdas13 commented on #213
@codewithdpk could you please respond, also this sdk is only meant to be used in the node server. It's not recommended to use in frontend

[2022-11-02 11:08] ankitdas13 commented on #210
@atishabhang could you please respond here?

[2022-11-02 11:16] ankitdas13 commented on #202
Closing this issue , Please let us know if you need any help.

[2022-11-02 11:21] ankitdas13 commented on #193
Closing this issue because the feature has already been added in one of the recent updates.

Please let us know if you need any help.

[2022-11-02 11:21] #193 closed

[2022-11-02 11:25] ankitdas13 commented on #191
Closing this since there's no response. Please don't let that stop you from re-opening if the issue is persisting for you.

[2022-11-02 11:25] #191 closed

[2022-11-02 12:18] ankitdas13 commented on #185
@Rishi-34 the code you mentioned, according to my understanding the `productprice` could be null. It would be help if you share the error logs so we can replicate this issue from our side.

[2022-11-02 12:23] ankitdas13 commented on #177
Closing this since there's no response. Please don't let that stop you from re-opening if the issue is persisting for you.

[2022-11-02 12:23] #177 closed

[2022-11-02 12:48] #202 closed

[2022-11-02 12:54] ankitdas13 commented on #176
@mprem1204 Could you please confirm if this issue has been resolved ?

[2022-11-02 12:58] ankitdas13 commented on #175
Closing is this issue for now because the feature has already been added in one of the recent updates.

@ojaswa1942 Please let us know if want to contribute

[2022-11-02 12:58] #175 closed

[2022-11-03 18:29] aryangupta24 commented on #172
Any solution for this issue ?

[2022-11-08 18:08] kkyusufk commented on #186
@Praveen2106 can you also explain in detail what is your question with an example if possible. We will be able to assist better if we know the full picture.

[2022-11-08 18:12] kkyusufk commented on #173
@girishpatil16 Please let us know if this issue was resolved.

[2022-11-08 18:32] girishpatil16 commented on #173
Resolved.

On Tue, Nov 8, 2022 at 11:43 PM Yusuf ***@***.***> wrote:

--
Best Regards,
Girish Patil
9595514172

[2022-11-08 18:44] kkyusufk commented on #173
@girishpatil16 please feel free to open more issues. These will help us improve the SDK in future.

[2022-11-08 18:44] #173 closed

[2022-11-19 14:47] Znoy108x commented on #132
Can you tell me what's wrong in my code  ??
it's not giving response !!
[code]

[2022-11-19 16:27] Znoy108x opened #323 "Not getting response after successful payment"
### Steps to reproduce the behavior

`const PROCEED_PAYMENT_HANDLER = async () => {
    const { data : {Order} } = await axios.post("http://localhost:5000/api/razor/PayInit", { amount: location.state.TotalPrice }, { withCredentials: true })
    const { data : {Key}} = await axios.get("http://localhost:5000/api/razor/getKey", { withCredentials: true })
    const options = {
      "key": Key,

[2022-11-21 05:58] sbamniya commented on #148
If you are still looking for RazorpayX. I have developed this SDK https://github.com/sbamniya/razorpayx-nodejs-sdk

[2022-11-21 19:51] kkyusufk commented on #323
Hey @Znoy108x , `razorpay-node` does not have an `open` method anywhere, and looking at your frontend code I think you are trying to use the `react-native-razorpay` library. That library does not need to be initiated ( see [here](https://github.com/razorpay/react-native-razorpay#steps) ) I think if you follow the steps mentioned in that readme, you will be able to solve this issue.

[2022-11-21 19:52] kkyusufk commented on #315
Hey @abhin-dynamify, pinging again. Please let us know if you are still facing this issue.

[2022-11-22 09:55] Znoy108x commented on #323
no i am using razorpay library in react

[2022-11-23 05:17] vsp0696 commented on #29
Hi @rzpamidi , validateWebhookSignature is always returning false, I have used the static signature to test, But it's not working
![image](https://user-images.githubusercontent.com/115178365/203473234-2db262d1-bc29-4bb4-8376-a5ae79871d8a.png)

[2022-11-23 12:36] SurajKalangada commented on #172
@aryangupta24 yes

[2022-11-24 05:58] thevikas opened #324 "documentation on what are the different payment statuses"
### Steps to reproduce the behavior

Documentation on what are the different payment statuses and what they each mean. Right now I can only see "captured" but no explanation on what does it mean. Could not spot examples of few other errors like denied by bank due to not enough balance, or denied cause user rejected it or denied cause of fraud detection etc etc.
If there are such docs please share

[2022-11-25 06:48] ankitdas13 commented on #323
@Znoy108x According to your frontend code, you did not add handler functions , it might be possible that's why you are getting `{}` . Could you please add the handler function there?

`"callback_url": "http://localhost:5000/api/razor/PayVerification/",`
  to
 `"handler": function (response){ console.log(response)}`

 output : `{ "razorpay_payment_id": "pay_29QQoUBi66xm2f", "razorpay_order_id": "or

[2022-11-25 07:18] Znoy108x commented on #323
@ankitdas13  thanks a lot that worked !

[2022-11-25 07:29] ankitdas13 commented on #308
This issue has been fixed and merged in master, therefore i am closing this issue.

@NipunAgarwal19 Please let us know if you need any help

[2022-11-25 07:29] #308 closed

[2022-11-25 07:32] ankitdas13 commented on #251
This issue has been fixed and merged in master, therefore i am closing this issue.

@adarshmadrecha Please let us know if you need any help

[2022-11-25 07:32] #251 closed

[2022-11-25 07:43] ankitdas13 commented on #324
@thevikas Please check out this  [doc](https://razorpay.com/docs/payments/payments/capture-settings/) . It will help you understand how payment states work. let me know if you find it helpful

[2022-11-25 09:20] thevikas commented on #324
yes. I later I had found this doc. But that's the problem. If API response is mentioned at a place, either full explanation of all status codes should be also given at place or a link to navigate should be given. Actually even repeating same thing a few times is not so bad.

[2022-11-25 10:05] ankitdas13 commented on #324
@thevikas We have noted this and will discuss it with the technical writer. To make it more user-friendly, we will recommend including all status details, including explanations, there.

[2022-11-25 10:06] thevikas commented on #324
super. thanks

[2022-11-26 10:36] rranjan14 opened #325 "Subscription cancellation with options doesn't work."
### Steps to reproduce the behavior

1. Create a subscription.
2. Pass `{ cancel_at_cycle_end: 1 }` as options to the `cancel` function.

### Expected behavior

The subscription should have been cancelled at the end of the cycle rather than getting cancelled immediately.

### Actual behavior

Subscription gets cancelled immediately.

### Code snippets

_No response_

### Node version

v16.14.2

##

[2022-11-28 05:49] ankitdas13 commented on #325
@rranjan14 Apologise for the issue you are experiencing. I just checked the cancel api and i found that the code snippet is not updated. Could you please check this code snippet and let me know?

`instance.subscriptions.cancel("sub_KlLQabJyisz3mu",true)`

`false` (default): Cancel the subscription immediately.
`true`: Cancel the subscription at the end of the current billing cycle.

[2022-11-30 06:43] ankitdas13 commented on #325
@rranjan14 could you please confirm is it worked or not ?

[2022-11-30 07:22] ankitdas13 commented on #273
Closing this issue for now, due to not getting any response also this issue is not related to this sdk . If you are still experiencing this issue please find the correct one and create a new issue there or or you can report on the support [portal](https://razorpay.com/support/)

[2022-11-30 07:22] #273 closed

[2022-11-30 07:25] ankitdas13 commented on #272
Closing this issue for now, due to not getting any response also this issue is not related to this sdk . please feel free to add more suggestions you may have.

[2022-11-30 07:25] #272 closed

[2022-11-30 07:30] ankitdas13 commented on #315
Closing this issue for now, due to not getting any response .Please feel free to add more suggestions you may have. if you are still getting the same error after enabling the feature, then dont let stop you to reopen. This issue

[2022-11-30 07:30] #315 closed

[2022-11-30 07:32] ankitdas13 commented on #213
Closing this issue for now, due to not getting any response also this issue is not related to this sdk . please feel free to add more suggestions you may have.

[2022-11-30 07:32] #213 closed

[2022-11-30 07:35] ankitdas13 commented on #210
Closing this issue for now, due to not getting any response .Please feel free to add more suggestions you may have. if you are still getting an empty webhook , then dont let stop you to reopen this issue.

[2022-11-30 07:35] #210 closed

[2022-11-30 07:42] ankitdas13 commented on #185
I am closing this issue for now. If you are still facing the same issue, please do not hesitate to reopen it. Please feel free to add any other suggestions you may have.

[2022-11-30 07:42] #185 closed

[2022-11-30 07:45] ankitdas13 commented on #184
I am closing this issue for now. If you are still facing the same issue, please do not hesitate to reopen it. Please feel free to add any other suggestions you may have.

[2022-11-30 07:45] #184 closed

[2022-11-30 08:22] ankitdas13 commented on #174
I am closing this issue for now. If you are still facing the same issue, please do not hesitate to reopen it. Please feel free to add any other suggestions you may have.

[2022-11-30 08:22] #174 closed

[2022-11-30 08:24] ankitdas13 commented on #171
I am closing this issue for now. If you are still facing the same issue, please do not hesitate to reopen it. Please feel free to add any other suggestions you may have.

[2022-11-30 08:24] #171 closed

[2022-11-30 08:27] ankitdas13 commented on #169
I am closing this issue for now. If you are still facing the same issue, please do not hesitate to reopen it. Please feel free to add any other suggestions you may have.

[2022-11-30 08:27] #169 closed

[2022-11-30 08:29] ankitdas13 commented on #168
I am closing this issue for now. If you are still facing the same issue, please do not hesitate to reopen it. Please feel free to add any other suggestions you may have.

[2022-11-30 08:29] #168 closed

[2022-11-30 08:31] ankitdas13 commented on #167
I am closing this issue for now. If you are still facing the same issue, please do not hesitate to reopen it. Please feel free to add any other suggestions you may have.

[2022-11-30 08:39] ankitdas13 commented on #164
It has already been added in one of recent releases. Please update to the most recent version. If the issue still persists after upgrading, please feel free to re-open. For now, I am closing this issue.

[2022-11-30 08:39] #164 closed

[2022-11-30 08:42] ankitdas13 commented on #159
I am closing this issue for now. Please feel free to add any other suggestions you may have.

[2022-11-30 08:42] #159 closed

[2022-11-30 08:54] ankitdas13 commented on #148
Closing this issue for now. Please let us know if you need any help or you can contact on the support [portal](https://razorpay.com/support/).

[2022-11-30 08:54] #148 closed

[2022-11-30 08:59] ankitdas13 commented on #145
I am closing this issue for now. If someone is facing the same issue you can check this [doc](https://razorpay.com/docs/payments/payment-gateway/web-integration/standard/build-integration#12-integrate-with-checkout-on-client-side) for checkout integration. Please feel free to add any other suggestions you may have.

[2022-11-30 08:59] #145 closed

[2022-11-30 10:17] ankitdas13 commented on #158
Closing this issue for now, due to not getting any response. Feel free to add more suggestions you may have. Please let us know if you need any help.

[2022-11-30 10:17] #158 closed

[2022-11-30 10:19] ankitdas13 commented on #149
Closing this issue for now, please let us know if you need any help.

[2022-11-30 10:19] #149 closed

[2022-11-30 10:25] ankitdas13 commented on #143
Closing this issue for now, due to not getting any response. Feel free to add more suggestions you may have. Please let us know if you need any help.

[2022-11-30 10:25] #143 closed

[2022-11-30 10:27] ankitdas13 commented on #138
Closing this issue for now, due to not getting any response.
Please let us know if you need any help.

[2022-11-30 10:27] #138 closed

[2022-11-30 10:34] ankitdas13 commented on #136
Closing this issue for now, due to not getting any response. Please let us know if you need any help.

[2022-11-30 10:34] #136 closed

[2022-11-30 10:41] ankitdas13 commented on #323
Closing this issue for now, due to not getting any response also this issue is not related to this sdk . but If someone is facing the same issue you can check this [doc](https://razorpay.com/docs/payments/payment-gateway/web-integration/standard/build-integration#12-integrate-with-checkout-on-client-side) for checkout integration.

[2022-11-30 10:41] #323 closed

[2022-11-30 10:45] ankitdas13 commented on #132
Closing this issue for now, due to not getting any response also this issue is not related to this sdk . But if someone is facing the same issue you can check this [doc](https://razorpay.com/docs/payments/payment-gateway/web-integration/standard/build-integration#12-integrate-with-checkout-on-client-side) for checkout integration.

[2022-11-30 10:45] #132 closed

[2022-11-30 10:50] ankitdas13 commented on #127
Closing this issue for now, due to not getting any response. Please let us know if you need any help.

[2022-11-30 10:50] #127 closed

[2022-11-30 10:53] ankitdas13 commented on #74
For now, I am closing this issue as I have not received any response. If you need any assistance, please let us know.

[2022-11-30 10:53] #74 closed

[2022-11-30 11:00] ankitdas13 commented on #90
For now, I am closing this issue as I have not received any response. If someone is getting the same issue than it might be possible that you are trying to integrate this sdk in frontend.

Please let us know if you need any help.

[2022-11-30 11:00] #90 closed

[2022-11-30 11:04] ankitdas13 commented on #95
Closing this issue for now, due to not getting any response also this feature is already added. Update to the most recent version to resolve this issue. please let us know if you need any help

[2022-11-30 11:04] #95 closed

[2022-11-30 11:09] ankitdas13 commented on #109
Closing this issue for now, due to not getting any response . If you are still getting the same error then dont let stop you to reopen this issue. Please let us know if you need any help.

[2022-11-30 11:09] #109 closed

[2022-11-30 11:14] ankitdas13 commented on #97
Closing this issue for now, due to not getting any response. If anyone else gets the same error (cors), this issue is not related to this SDK. Please let us know if you need any help

[2022-11-30 11:14] #97 closed

[2022-11-30 11:31] ankitdas13 commented on #54
Closing this issue for now, due to not getting any response. If you are still getting the same error then dont let stop you to reopen this issue.

[2022-11-30 11:31] #54 closed

[2022-11-30 11:44] ankitdas13 commented on #129
Closing this issue for now, due to not getting any response, I have also tried this issue from my end and it's working . If you are still facing this same issue, please update to the most recent version to resolve this issue. If you need any help then please let us know.

<img width="936" alt="Screenshot 2022-11-30 at 5 10 52 PM" src="https://user-images.githubusercontent.com/89454448/204787620-99

[2022-11-30 11:44] #129 closed

[2022-11-30 11:52] ankitdas13 commented on #124
It has already been added in one of recent releases , check this [doc](https://github.com/razorpay/razorpay-node/blob/master/documents/paymentVerfication.md) for more detail . Update to the most recent version. If the issue still persists after upgrading, please feel free to re-open.

For now, I am closing this issue.

[2022-11-30 11:52] #124 closed

[2022-11-30 11:57] ankitdas13 commented on #176
For now, I am closing this issue as I have not received any response. If you need any assistance, please let us know.

[2022-11-30 11:57] #176 closed

[2022-11-30 12:02] ankitdas13 commented on #128
For now, I am closing this issue as I have not received any response. If you need any help then please let us know.

[2022-11-30 12:12] ankitdas13 commented on #114
For now, I am closing this issue as I have not received any response. If you need any assistance, please let us know.